CUsersuserDesktopClaudeworkflow_catraca.json
{"createdAt":"2026-05-23T20:29:44.651Z","updatedAt":"2026-05-23T20:29:44.651Z","id":"AS1GuapOOkAfJdOs","name":"Catraca - Renovação v5 (CÓPIA - Teste)","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q","mode":"id"},"sheetName":{"__rl":true,"value":199654387,"mode":"list","cachedResultName":"Renovação v2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=199654387"},"columns":{"mappingMode":"defineBelow","value":{"data/hora":"={{ DateTime.local() }}","destinatário":"={{ $json.phone + \" - \" + $('findConsultant').item.json.consultant_name }}","mensagem":"={{ $('buildMessages').item.json.mensagens.consultor || $('buildPrompt').item.json.clientCard }}","aluno":"={{ $('findByMatricula').item.json.client_id + \" - \" + $('findByMatricula').item.json.client_name }}"},"matchingColumns":[],"schema":[{"id":"aluno","displayName":"aluno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"destinatário","displayName":"destinatário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,2256],"id":"cbd8e3a5-551b-4697-9954-46efdcfb0699","name":"1.logMessage","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return { status: \"Consultor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2160],"id":"a59a4bb5-304f-4c92-9f4b-933a3f3d62a1","name":"1.withoutPhone"},{"parameters":{"jsCode":"return { status: \"Coordenador sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2592],"id":"731ad11a-fa57-4606-ac75-f7638d626324","name":"2.withoutPhone"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09M261P8F9","mode":"list","cachedResultName":"automacoes"},"messageType":"block","blocksUi":"={{ $('getClientFromAPI').item.json.slack_message }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,3248],"id":"0c1ed36a-d3a9-4997-8ab6-45af8d56f8d6","name":"sendMessage","webhookId":"3bf4ceae-5078-46f4-a172-b6f19090fca9","credentials":{"slackOAuth2Api":{"id":"tqVFqltyc7f0TKCZ","name":"Slack Corpore Automações"}}},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.consultant.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.consultant.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,1904],"id":"6bba946c-7140-45cf-adf5-4e4cf61d3ef5","name":"1.sendChatGuru","onError":"continueRegularOutput"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('listenPacto').item.json.body.cliente.matricula }}/dados-pessoais","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,2464],"id":"3c1dc6f0-3d9d-4ccf-b75c-d92a76a9894e","name":"getCodes & getSituacao","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/pessoas/{{ $('getCodes & getSituacao').item.json.content.codigoPessoa }}/contratos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sort","value":"vigenciaAteAjustada,desc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,2464],"id":"d44a406b-aa3e-4eb9-8b49-8048aba4de9e","name":"getContrato","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"jsCode":"const item = $input.first().json.content[0] || null;\n\nconst dataAtual = Date.now();\nconst trintaDiasEmMs = 30 * 24 * 60 * 60 * 1000; // 30 dias = 2592000000\nconst limiteMs = dataAtual + trintaDiasEmMs;\n\nconst vigenciaAteAjustada = item.vigenciaAteAjustada || item.vigenciaAte || 0;\n\nreturn {\n  alreadyRenew: vigenciaAteAjustada > limiteMs\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,2464],"id":"1fee522e-ce4a-47ba-b709-86ba7e1516a7","name":"checkVigencia"},{"parameters":{"jsCode":"return { status: \"Cliente já fez a renovação do contrato.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,2720],"id":"a6fca6d6-f72c-4ced-a453-7b86a350e32a","name":"2.withoutReturn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ab60972-012f-4a20-8a24-8d1fa0a04563","leftValue":"={{ $json.alreadyRenew }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,2464],"id":"829d0f15-dedc-47e2-b3d2-c0b36f2584ef","name":"withoutRenew"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a9e6cf7-ae7d-417a-a748-d6dce9a5afe5","leftValue":"={{ $json.body.acesso }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"ed498b9d-0393-49c9-b7c7-e9625329c205","leftValue":"={{ $json.body.acesso.sentido }}","rightValue":"E","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,2544],"id":"99b1aece-69cc-4a91-b5d6-3223c2427249","name":"ifEntrance"},{"parameters":{"jsCode":"return { status: \"Notificação não é do tipo Acesso de Entrada.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,2688],"id":"869c8644-0b4b-485a-a698-75c098a174d9","name":"0.withoutReturn"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/client/{{ $json.body.cliente.matricula }}/renewal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,2480],"id":"bda7fde9-90b7-4c0b-b4a5-bfd4abd87bfe","name":"getClientFromAPI","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const message = $(\"getClientFromAPI\").first().json.error.message.replace('400 - ', '');\nconst obj = JSON.parse(JSON.parse(message));\nconst r = obj?.message || 'Erro da API';\nreturn { error: r };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,2576],"id":"4c4d8d24-f20e-489f-9119-fdc0585fbf86","name":"showError"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.consultant.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2048],"id":"b819ea39-35a2-4b45-8447-710cd642455b","name":"hasConsultantPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.coordinator.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2448],"id":"ce196a54-1c26-4258-8a1d-f32da3d2d555","name":"hasCoordinatorPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.teacher.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2896],"id":"bb23188e-db72-41ce-84db-bdfc2016dd80","name":"hasTeacherPhone"},{"parameters":{"jsCode":"return { status: \"Professor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,3072],"id":"69bc09a3-d9e9-4185-b07a-22a47259214e","name":"3.withoutPhone1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1392,2544],"id":"ffc754d2-c43f-4fe6-bb35-5dd44bfd9057","name":"listenPacto"},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.coordinator.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.coordinator.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,2352],"id":"d0be995e-3566-4553-86fa-f6b6a53175c1","name":"2.sendChatGuru","onError":"continueRegularOutput"}],"connections":{"getCodes & getSituacao":{"main":[[{"node":"getContrato","type":"main","index":0}]]},"getContrato":{"main":[[{"node":"checkVigencia","type":"main","index":0}]]},"checkVigencia":{"main":[[{"node":"withoutRenew","type":"main","index":0}]]},"withoutRenew":{"main":[[{"node":"sendMessage","type":"main","index":0},{"node":"hasConsultantPhone","type":"main","index":0},{"node":"hasCoordinatorPhone","type":"main","index":0},{"node":"hasTeacherPhone","type":"main","index":0}],[{"node":"2.withoutReturn","type":"main","index":0}]]},"ifEntrance":{"main":[[{"node":"getClientFromAPI","type":"main","index":0}],[{"node":"0.withoutReturn","type":"main","index":0}]]},"getClientFromAPI":{"main":[[{"node":"getCodes & getSituacao","type":"main","index":0}],[{"node":"showError","type":"main","index":0}]]},"hasConsultantPhone":{"main":[[{"node":"1.sendChatGuru","type":"main","index":0}],[{"node":"1.withoutPhone","type":"main","index":0}]]},"hasCoordinatorPhone":{"main":[[{"node":"2.sendChatGuru","type":"main","index":0}],[{"node":"2.withoutPhone","type":"main","index":0}]]},"hasTeacherPhone":{"main":[[],[{"node":"3.withoutPhone1","type":"main","index":0}]]},"listenPacto":{"main":[[{"node":"ifEntrance","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"b35f4692-4194-4378-9620-ca19cdd4c4bd","triggerCount":0,"shared":[{"createdAt":"2026-05-23T20:29:44.651Z","updatedAt":"2026-05-23T20:29:44.651Z","role":"workflow:owner","workflowId":"AS1GuapOOkAfJdOs","projectId":"O9Aj83Tq6Flo97PL","project":{"createdAt":"2025-07-29T13:23:22.045Z","updatedAt":"2025-07-29T13:28:10.430Z","id":"O9Aj83Tq6Flo97PL","name":"Fernando Moraes <fernando@mundocorpore.com.br>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-29T13:23:22.045Z","updatedAt":"2025-07-29T13:23:22.045Z","role":"project:personalOwner","userId":"756b975b-5aef-4338-a260-abfc36be5839","projectId":"O9Aj83Tq6Flo97PL","user":{"createdAt":"2025-07-29T13:23:19.162Z","updatedAt":"2026-05-23T18:28:48.333Z","id":"756b975b-5aef-4338-a260-abfc36be5839","email":"fernando@mundocorpore.com.br","firstName":"Fernando","lastName":"Moraes","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-29T13:28:24.090Z","personalization_survey_n8n_version":"1.104.1","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"event"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"tHSY8ney20wjDzxh","userActivatedAt":1757448892139,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1779211319828}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-23","isPending":false}}]}}],"tags":[]}