CUsersuserAppDataLocalTempn8n_workflows.json
{"data":[{"createdAt":"2025-11-13T12:41:59.863Z","updatedAt":"2026-05-20T06:24:07.457Z","id":"I7NQ9jc8ieghQUfS","name":"Catraca - Renovação v5","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q","mode":"id"},"sheetName":{"__rl":true,"value":199654387,"mode":"list","cachedResultName":"Renovação v2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=199654387"},"columns":{"mappingMode":"defineBelow","value":{"data/hora":"={{ DateTime.local() }}","destinatário":"={{ $json.phone + \" - \" + $('findConsultant').item.json.consultant_name }}","mensagem":"={{ $('buildMessages').item.json.mensagens.consultor || $('buildPrompt').item.json.clientCard }}","aluno":"={{ $('findByMatricula').item.json.client_id + \" - \" + $('findByMatricula').item.json.client_name }}"},"matchingColumns":[],"schema":[{"id":"aluno","displayName":"aluno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"destinatário","displayName":"destinatário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,2256],"id":"c703cb48-0ef0-4052-9595-1b2f20b79680","name":"1.logMessage","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return { status: \"Consultor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2160],"id":"915a6c68-975b-4b50-82a9-01210eed4645","name":"1.withoutPhone"},{"parameters":{"jsCode":"return { status: \"Coordenador sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2592],"id":"8c4fbf15-60f4-49e1-a80d-97fd3d88ac69","name":"2.withoutPhone"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09M261P8F9","mode":"list","cachedResultName":"automacoes"},"messageType":"block","blocksUi":"={{ $('getClientFromAPI').item.json.slack_message }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,3248],"id":"f3b87c16-67dc-4a42-bbaf-9149c25b7ec2","name":"sendMessage","webhookId":"3bf4ceae-5078-46f4-a172-b6f19090fca9","credentials":{"slackOAuth2Api":{"id":"tqVFqltyc7f0TKCZ","name":"Slack Corpore Automações"}}},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.consultant.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.consultant.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,1904],"id":"89ff80cf-67b4-4c9d-b679-0bd807d46733","name":"1.sendChatGuru","onError":"continueRegularOutput"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('listenPacto').item.json.body.cliente.matricula }}/dados-pessoais","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,2464],"id":"79d2380c-57bb-4e4c-8b39-5e57781ae49b","name":"getCodes & getSituacao","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/pessoas/{{ $('getCodes & getSituacao').item.json.content.codigoPessoa }}/contratos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sort","value":"vigenciaAteAjustada,desc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,2464],"id":"fe124091-735d-464c-b32f-e7ddde1f9793","name":"getContrato","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"jsCode":"const item = $input.first().json.content[0] || null;\n\nconst dataAtual = Date.now();\nconst trintaDiasEmMs = 30 * 24 * 60 * 60 * 1000; // 30 dias = 2592000000\nconst limiteMs = dataAtual + trintaDiasEmMs;\n\nconst vigenciaAteAjustada = item.vigenciaAteAjustada || item.vigenciaAte || 0;\n\nreturn {\n  alreadyRenew: vigenciaAteAjustada > limiteMs\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,2464],"id":"ea49db36-57b8-4bc2-8cad-e102e4e4a4d7","name":"checkVigencia"},{"parameters":{"jsCode":"return { status: \"Cliente já fez a renovação do contrato.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,2720],"id":"58aa34be-21ee-4fc1-8d4a-c376fcbdbeb3","name":"2.withoutReturn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ab60972-012f-4a20-8a24-8d1fa0a04563","leftValue":"={{ $json.alreadyRenew }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,2464],"id":"32dd5d82-3ae5-4766-a8f5-8a3431d6f5c9","name":"withoutRenew"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a9e6cf7-ae7d-417a-a748-d6dce9a5afe5","leftValue":"={{ $json.body.acesso }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"ed498b9d-0393-49c9-b7c7-e9625329c205","leftValue":"={{ $json.body.acesso.sentido }}","rightValue":"E","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,2544],"id":"72edd045-7af9-41eb-a810-04b8072d0329","name":"ifEntrance"},{"parameters":{"jsCode":"return { status: \"Notificação não é do tipo Acesso de Entrada.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,2688],"id":"99a43b6a-4d34-43e6-b8d6-3ff22f44ab1a","name":"0.withoutReturn"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/client/{{ $json.body.cliente.matricula }}/renewal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,2480],"id":"f0edcde7-553b-4b0d-97e2-19d075deec43","name":"getClientFromAPI","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const message = $(\"getClientFromAPI\").first().json.error.message.replace('400 - ', '');\nconst obj = JSON.parse(JSON.parse(message));\nconst r = obj?.message || 'Erro da API';\nreturn { error: r };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,2576],"id":"a4a68059-dd2a-410f-ae65-64b58c2794fa","name":"showError"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.consultant.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2048],"id":"4763f6dd-bd0a-4f09-8d83-109ad166c74e","name":"hasConsultantPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.coordinator.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2448],"id":"e2604a6d-875d-451c-828e-02e53d574c92","name":"hasCoordinatorPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.teacher.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2896],"id":"b4dc9fd7-b5b3-4950-98a4-8fea8a66b08a","name":"hasTeacherPhone"},{"parameters":{"jsCode":"return { status: \"Professor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,3072],"id":"789deb32-36e6-4f81-9713-8e97da45dac7","name":"3.withoutPhone1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1392,2544],"id":"9f226467-815b-471d-8a0c-95fe1e4f2181","name":"listenPacto"},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.coordinator.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.coordinator.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,2352],"id":"82f3c421-a032-4f45-89d5-3d50f2db0693","name":"2.sendChatGuru","onError":"continueRegularOutput"}],"connections":{"getCodes & getSituacao":{"main":[[{"node":"getContrato","type":"main","index":0}]]},"getContrato":{"main":[[{"node":"checkVigencia","type":"main","index":0}]]},"checkVigencia":{"main":[[{"node":"withoutRenew","type":"main","index":0}]]},"withoutRenew":{"main":[[{"node":"sendMessage","type":"main","index":0},{"node":"hasConsultantPhone","type":"main","index":0},{"node":"hasCoordinatorPhone","type":"main","index":0},{"node":"hasTeacherPhone","type":"main","index":0}],[{"node":"2.withoutReturn","type":"main","index":0}]]},"ifEntrance":{"main":[[{"node":"getClientFromAPI","type":"main","index":0}],[{"node":"0.withoutReturn","type":"main","index":0}]]},"getClientFromAPI":{"main":[[{"node":"getCodes & getSituacao","type":"main","index":0}],[{"node":"showError","type":"main","index":0}]]},"hasConsultantPhone":{"main":[[{"node":"1.sendChatGuru","type":"main","index":0}],[{"node":"1.withoutPhone","type":"main","index":0}]]},"hasCoordinatorPhone":{"main":[[{"node":"2.sendChatGuru","type":"main","index":0}],[{"node":"2.withoutPhone","type":"main","index":0}]]},"hasTeacherPhone":{"main":[[],[{"node":"3.withoutPhone1","type":"main","index":0}]]},"listenPacto":{"main":[[{"node":"ifEntrance","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9db2d07e-e223-467b-9d34-de6257b74422","triggerCount":0,"shared":[{"createdAt":"2025-11-13T12:41:59.863Z","updatedAt":"2025-11-13T12:41:59.863Z","role":"workflow:owner","workflowId":"I7NQ9jc8ieghQUfS","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-07-31T16:34:58.202Z","updatedAt":"2025-10-10T14:34:51.013Z","id":"HGAnvd04qKIB7qBB","name":"Pacto - Enviar foto para o app","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://app.corporetraininggym.com.br/rest/?action=all_clients","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-144],"id":"772b6190-f1ee-4882-b7c3-35375caeca57","name":"Recupera todos os clientes"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,-144],"id":"d6b798af-a126-4501-9d1f-c540665c8b20","name":"Executa um a um"},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"={{ $json.matricula }}"},{"name":"page","value":"0"},{"name":"size","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-64],"id":"c4b580da-6f50-44f7-b301-2b97a3a16eb0","name":"Requisita API Pacto","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,144],"id":"ef212da7-8161-49bc-b8c8-7ed9e5f2d80d","name":"Espera para requisitar PACTO novamente","webhookId":"f0b4df8d-4c39-4dd3-998d-c652fb763113"},{"parameters":{"method":"POST","url":"https://app.corporetraininggym.com.br/rest/?action=pacto_photo","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.content[0].matricula }}"},{"name":"photo","value":"={{ $json.content[0].pessoa.fotoUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,176],"id":"2cfe3d4d-9566-4880-82dd-326887507833","name":"Envia URL da foto para app.corpore"},{"parameters":{"fromEmail":"homologacao@kodame.com.br","toEmail":"contato@kodame.com.br","subject":"n8n - Fotos importadas","html":"Todas as fotos do pacto foram importadas para o sistema.","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[432,-320],"id":"5cd6fc01-d608-4d51-8907-d8070a163753","name":"Send email","webhookId":"e23154a1-0198-42e0-9ad9-8a577dce471a","credentials":{"smtp":{"id":"xc3G7INnhDlWbuDE","name":"Kodame Homologação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd25729-4b6f-4bdc-ac35-7f79f8cb4d1a","leftValue":"={{ $json.content[0].pessoa.fotoUrl }}","rightValue":"https://","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,160],"id":"10aae61c-745e-4270-954b-0f0db1a839fb","name":"Possui foto?","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,-144],"id":"abee19d4-68b8-4392-ae8e-01d4a7f2a151","name":"Schedule Trigger"}],"connections":{"Recupera todos os clientes":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Executa um a um":{"main":[[{"node":"Send email","type":"main","index":0}],[{"node":"Requisita API Pacto","type":"main","index":0}]]},"Requisita API Pacto":{"main":[[{"node":"Possui foto?","type":"main","index":0}]]},"Espera para requisitar PACTO novamente":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Envia URL da foto para app.corpore":{"main":[[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"Possui foto?":{"main":[[{"node":"Envia URL da foto para app.corpore","type":"main","index":0}],[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Recupera todos os clientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73e5f318-9e3e-4363-9307-846f2fcc93d9","triggerCount":1,"shared":[{"createdAt":"2025-07-31T16:34:58.202Z","updatedAt":"2025-07-31T16:34:58.202Z","role":"workflow:owner","workflowId":"HGAnvd04qKIB7qBB","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-02T12:17:12.764Z","updatedAt":"2026-05-24T12:55:14.855Z","id":"nTXJr1dSSQHkCagE","name":"Pacto - WebHooks v3","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://kodame.com.br/n8n.php","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-160],"id":"276c1e0e-28ae-4b39-af74-580410cd826c","name":"kodame"},{"parameters":{"method":"POST","url":"https://app.corporetraininggym.com.br/pacto/","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,0],"id":"9e3f879e-a83e-412b-a9ed-5a6663666bae","name":"app.ctg","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"pacto","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-576,0],"id":"90da90c2-3b0d-4f74-a0b9-a8e9cbeccaf0","name":"listenPacto","webhookId":"a5f3637a-b971-40d8-a3da-5039d680cd2b","alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"qHCk9u92gLpCVXIF","mode":"list","cachedResultName":"Pacto to Slack v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,176],"id":"5420af08-d1fd-4dc4-9296-1c0d26926f5e","name":"pactoToSlack"},{"parameters":{"workflowId":{"mode":"list","__rl":true,"cachedResultName":"Catraca - Renovação v5","value":"I7NQ9jc8ieghQUfS"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,-320],"id":"8b611a58-b323-4f3e-8c06-6c2e56a05be1","name":"Renovação","onError":"continueRegularOutput"}],"connections":{"listenPacto":{"main":[[{"node":"app.ctg","type":"main","index":0},{"node":"Renovação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0fdff916-9676-4056-b804-b84c38977a14","triggerCount":1,"shared":[{"createdAt":"2025-10-02T12:17:12.764Z","updatedAt":"2025-10-02T12:17:12.764Z","role":"workflow:owner","workflowId":"nTXJr1dSSQHkCagE","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-09-12T22:06:50.952Z","updatedAt":"2025-12-07T18:27:23.779Z","id":"NojkFFDcNE76KoRB","name":"Pacto - Anamnese v7","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const answers = $input.first().json.content.anamneseRespostas;\n\nconst response = [];\nfor (const i in answers) {\n  const idx = parseInt(i);\n  if (idx < 6) continue;\n  const a = answers[idx];\n  const answer = a.anamnesePergunta;\n  let value = a.resposta;\n  if (Array.isArray(answer['opcoes'])) {\n    value = answer['opcoes'].reduce((acc, item) => {\n      if (Array.isArray(value)) {\n        if (value.includes(item.id)) {\n          acc.push(item.nome);\n        }\n      } else if (value == item.id){\n        acc.push(item.nome);\n      }\n      return acc;\n    }, []).join(', ');\n  }\n\n  const obs = a?.observacao;\n  \n  if (!value && !obs) continue;\n\n  let r = `pergunta: ${a.anamnesePergunta.pergunta}\\n`;\n    \n  if (value)\n    r += `resposta: ${value}\\n`;\n\n  if (obs)\n     r += `observacao: ${obs}\\n`;\n  \n  response.push(r);\n}\n\nreturn { anamnese: response.join(\"\\n\") };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-48],"id":"67f54308-4c69-4764-bf56-1fcc4539076a","name":"getAnswersAndObs"},{"parameters":{"method":"POST","url":"https://api.corporetraininggym.com.br/client_data","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('isValidId').item.json.matricula }}"},{"name":"form","value":"technical-analisys"},{"name":"content","value":"={{ $json.message.content }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,64],"id":"ed9bdcda-6f1d-40c9-9146-e03b8f386090","name":"saveAnamnese","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1984,-96],"id":"200b6052-9204-476f-a905-22a9f59d7690","name":"1.loop"},{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=# Anamnese\n{{ $json.anamnese }}\n---\n# Prompt – Relatório Técnico de Avaliação de Movimento\n\nVocê é um assistente especializado em analisar relatórios técnicos de avaliação de movimento dos clientes da academia **Corpore**. Sua função é analisar as resostas da #Anamnese e destacar os pontos importantes para conhecimento de todos treinadores e da equipe da Corpore em geral.\n\nPegue a # Anamnese acima e siga os passos: \n\n---\n\n## Instruções\n\n1. Leia todas as perguntas abaixo, opções marcadas (respostas) e observações.\n\n9 - Aquecimento\n10 - Agachamento\n11 - Flexão\n12 - Prancha\n13 - Afundo\n14 - Remada TRX\n15 - Elevação de Quadril \n16 - Reach no Cone\n17 - Desenvolvimento Halter\n18 - Rotação Polia Medial\n\n2. Após ler e entender todas opções marcadas, incluindo respostas e observações faça um texto descrevendo as informações mais relevantes.\n\n3. Ao final, sempre traga:\n19 - Percepção de Esforço do Treino\n20 - Observações Específicas\n21 - Existe alguma coisa de exercício, rotina de treino que vc não gosta de fazer ou prefere evitar?\n22 - Observações Gerais\n\nCaso esteja sem resposta não precisa citar!\n\n4. Com base em tudo, escreva um **resumo corrido**, bem escrito e fluido, que contemple todas as informações (sem deixar nada de fora).  \n\n---\n\n## Formato de Saída\n\n1. Só escreva o resumo com um Texto único, objetivo, mas como se estivesse explicando pra uma pessoa os detalhes da análise. Insira com todas as informações mesmo que o texto fique longo.\n\n2. Não envie as perguntas e respotas.. apenas o resumo corrido bem elaborado."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[944,-48],"id":"4b6442d2-dd2b-44fc-bf21-767d834fd29b","name":"getSummary","executeOnce":false,"credentials":{"openAiApi":{"id":"RthcqRcxLnp9doLM","name":"OpenAi Corpore App"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cb22f2c-922b-431c-a484-7e5363903993","leftValue":"={{ $json.message.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,-48],"id":"803ffd57-af5c-4b2d-a2d9-f4586e079f49","name":"hasSummary"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"981145df-c2ec-4d59-8b29-da700a32966c","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"520d627d-71e8-4c3c-9268-0b3a48220077","leftValue":"={{ $json.content[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,96],"id":"5c04acad-d47e-44bf-ad41-0c9b2b859207","name":"hasAnamneses"},{"parameters":{"jsCode":"const items = $input.first().json.content;\n\nreturn { anamnese: items.pop() };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-48],"id":"0139a36e-9ab8-418d-beb3-40f6e5a6e70a","name":"getFirstAnamnese"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/psec/avaliacoes-fisica/{{ $json.anamnese.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,-48],"id":"37872fb9-14da-4210-89c4-be08987e272b","name":"Pacto - getAnamnese","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6151f21e-4773-4156-89c4-740c16824c44","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,96],"id":"892cae4d-bd0a-412a-97e4-86d4e8303153","name":"hasAnamnese"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1840,304],"id":"f7fe9c2d-d3fb-404e-b53d-a30ef5fefc49","name":"4.wait","webhookId":"3e3c91d5-6648-43c2-baaa-f0a2463a02f4"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1584,240],"id":"50e28d4d-c614-4156-a56c-7da62ee80c78","name":"3.wait","webhookId":"8f604917-cf42-4b45-b42f-277a80ff3a26"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,176],"id":"dea56d02-855e-4a49-9c26-4f1af1c0ff93","name":"2.wait","webhookId":"1016d09f-7854-4519-a5a4-fe35a66a6cd0"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,112],"id":"4333c749-5e8a-4d74-8396-5788268b2146","name":"1.wait","webhookId":"dcbc034c-81b2-4e86-85f9-4796416ac4d7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a76c2d7-ec16-4c17-8323-7a017fb174b5","leftValue":"={{ $json.pacto_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,32],"id":"72046011-1d6b-4a54-afca-a4314f815192","name":"isValidId"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/psec/avaliacoes-fisica/alunos/{{ $('1.loop').item.json.pacto_id }}/todas","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"empresaId","value":"1"},{"name":"chave","value":"57eb95a07a1630d67cc94c6381b43ab2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,16],"id":"be8fe4dc-c76d-452f-9922-5112e62c2009","name":"Pacto - getAllAnamneses","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":755610730,"mode":"list","cachedResultName":"Anamnese v6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=755610730"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-80,112],"id":"21a7ec3d-ab70-4a54-8237-942e9b8a7eff","name":"Error - noAnamneses","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":755610730,"mode":"list","cachedResultName":"Anamnese v6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=755610730"},"columns":{"mappingMode":"defineBelow","value":{"item":"={{ $('1.loop').item.json.matricula }} - {{ $('1.loop').item.json.nome }} - {{ $('hasAnamneses').item.json.content[0].id }}","erro":"Anamnese não encontrada","data/hora":"={{ DateTime.local() }}"},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,176],"id":"547cfd3b-fe33-4832-b460-49a5051246c6","name":"Error - noAnamneseID","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT c.id AS ID,\n  c.client_id AS matricula, \n  rel.pacto_id, \n  c.client_name AS nome\nFROM ctb_clients c \n  LEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id \nWHERE c.dt_plan_finish > CURDATE() \n  AND c.client_id NOT IN (\n    SELECT client_id FROM ctb_client_hooks\n    WHERE hook_name=\"technical-analisys\"\n  )\nORDER BY c.dt_enroll DESC","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2256,-96],"id":"3a207124-935f-4a41-ab87-59c5cd6bc5a2","name":"getClientsWithoutAnamnese","alwaysOutputData":true,"credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":755610730,"mode":"list","cachedResultName":"Anamnese v6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=755610730"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2464,-96],"id":"aaf5a1af-b597-4f05-bf9a-838e1949a106","name":"errorBreakLine","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2672,-96],"id":"7f436977-4926-4fa0-9e47-22a5c3702f4b","name":"atSun6pm"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('1.loop').item.json.matricula }}/dados-plano","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1408,-160],"id":"35047914-acb3-4170-9c4e-e4e46412cc51","name":"getVinculos","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueErrorOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-832,48],"id":"fbb4b230-ec53-46ea-9600-f326832f9461","name":"5.wait","webhookId":"9a7a2316-c385-426b-8ac3-9be20debb71b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"167ee714-3c9b-402a-9084-6933e604df5c","leftValue":"={{ $json.content.nomePlano }}","rightValue":"PLANO CTG","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"39fc1e0b-1c59-4ae1-b01a-f21c017cd875","leftValue":"={{ $json.content.nomePlano }}","rightValue":"PLANO CTG FISIO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e65cf5f1-e09e-4a48-9ffd-a1c1f943e526","leftValue":"={{ $json.content.nomePlano }}","rightValue":"PAGUE 1, TREINAM 2 - OUTUBRO 2025","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"17932b9f-27bc-4085-81d0-34494f026af2","leftValue":"={{ $json.content.nomePlano }}","rightValue":"Pague 1, treinam 2 - outubro 2025 - fisio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ea5c1c8b-da01-4e58-a750-74700fa737b7","leftValue":"={{ $json.content.nomePlano }}","rightValue":"PLANO PERMUTA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1232,-240],"id":"5d2376a5-445c-495e-b50f-3643fb50871d","name":"isValidPlan"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":755610730,"mode":"list","cachedResultName":"Anamnese v6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=755610730"},"columns":{"mappingMode":"defineBelow","value":{"item":"={{ $('1.loop').item.json.matricula }} - {{ $('1.loop').item.json.nome }}","erro":"=Plano inválido \"{{ $('getVinculos').item.json.content.nomePlano }}\"","data/hora":"={{ DateTime.local() }}"},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1088,-144],"id":"cc28a9e1-d27a-4a2c-811a-9d7c18f232de","name":"Error - invalidPlan","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"}],"connections":{"getAnswersAndObs":{"main":[[{"node":"getSummary","type":"main","index":0}]]},"saveAnamnese":{"main":[[{"node":"4.wait","type":"main","index":0}]]},"1.loop":{"main":[[],[{"node":"isValidId","type":"main","index":0}]]},"getSummary":{"main":[[{"node":"hasSummary","type":"main","index":0}]]},"hasSummary":{"main":[[{"node":"saveAnamnese","type":"main","index":0}],[{"node":"3.wait","type":"main","index":0}]]},"hasAnamneses":{"main":[[{"node":"getFirstAnamnese","type":"main","index":0}],[{"node":"Error - noAnamneses","type":"main","index":0}]]},"getFirstAnamnese":{"main":[[{"node":"Pacto - getAnamnese","type":"main","index":0}]]},"Pacto - getAnamnese":{"main":[[{"node":"hasAnamnese","type":"main","index":0}]]},"hasAnamnese":{"main":[[{"node":"getAnswersAndObs","type":"main","index":0}],[{"node":"Error - noAnamneseID","type":"main","index":0}]]},"4.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"3.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"2.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"1.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"isValidId":{"main":[[{"node":"getVinculos","type":"main","index":0}],[{"node":"1.loop","type":"main","index":0}]]},"Pacto - getAllAnamneses":{"main":[[{"node":"hasAnamneses","type":"main","index":0}]]},"Error - noAnamneses":{"main":[[{"node":"1.wait","type":"main","index":0}]]},"Error - noAnamneseID":{"main":[[{"node":"2.wait","type":"main","index":0}]]},"getClientsWithoutAnamnese":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"errorBreakLine":{"main":[[{"node":"getClientsWithoutAnamnese","type":"main","index":0}]]},"atSun6pm":{"main":[[{"node":"errorBreakLine","type":"main","index":0}]]},"getVinculos":{"main":[[{"node":"isValidPlan","type":"main","index":0}],[{"node":"5.wait","type":"main","index":0}]]},"isValidPlan":{"main":[[{"node":"Pacto - getAllAnamneses","type":"main","index":0}],[{"node":"Error - invalidPlan","type":"main","index":0}]]},"Error - invalidPlan":{"main":[[{"node":"5.wait","type":"main","index":0}]]},"5.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:atSun6pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e13218c9-ef37-40d1-b192-696dc3737ff0","triggerCount":1,"shared":[{"createdAt":"2025-09-12T22:06:50.952Z","updatedAt":"2025-09-12T22:06:50.952Z","role":"workflow:owner","workflowId":"NojkFFDcNE76KoRB","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-27T14:31:16.623Z","updatedAt":"2025-10-10T19:59:11.740Z","id":"Gyhr9RbQrFhYBLKQ","name":"Pacto - Enviar foto para Action Fit (Lindoia)","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://lindoia.actionfitacademia.com.br/rest/?action=clients_without_photo","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-144],"id":"74266ca3-4fde-400a-ab64-11225520ecc0","name":"Recupera todos os clientes"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,-144],"id":"fcff8e73-1cc8-4e95-86b2-99bfd0bba2be","name":"Executa um a um"},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"={{ $json.matricula }}"},{"name":"page","value":"0"},{"name":"size","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-64],"id":"8a00620b-064c-43be-bc3f-61d357664425","name":"Requisita API Pacto","credentials":{"httpBearerAuth":{"id":"rb6c6tSZlFvftlfm","name":"Pacto Lindoia"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,144],"id":"cd1fc529-0cdb-4c10-bee3-ddf3cef1fe2a","name":"Espera para requisitar PACTO novamente","webhookId":"0bda6420-e567-4eb4-a2e3-6d2f833e0032"},{"parameters":{"method":"POST","url":"https://lindoia.actionfitacademia.com.br/rest/?action=pacto_photo","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.content[0].matricula }}"},{"name":"photo","value":"={{ $json.content[0].pessoa.fotoUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,176],"id":"dbb54209-4ce1-4ca9-826c-b41edb9e82b8","name":"Envia URL da foto para app.corpore","onError":"continueRegularOutput"},{"parameters":{"fromEmail":"homologacao@kodame.com.br","toEmail":"contato@kodame.com.br","subject":"n8n - Fotos importadas","html":"Todas as fotos do pacto foram importadas para o sistema.","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[432,-320],"id":"2c199a93-ebef-42cc-b9bd-5f8beafdcef0","name":"Send email","webhookId":"51516017-6380-452c-8420-a03647cc774a","credentials":{"smtp":{"id":"xc3G7INnhDlWbuDE","name":"Kodame Homologação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd25729-4b6f-4bdc-ac35-7f79f8cb4d1a","leftValue":"={{ $json.content[0].pessoa.fotoUrl }}","rightValue":"https://","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,160],"id":"f0fcb2aa-107d-4944-aa43-aea7264a21a4","name":"Possui foto?","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,-144],"id":"908db3d0-e26a-4335-9058-550f5cd0296e","name":"Schedule Trigger"}],"connections":{"Recupera todos os clientes":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Executa um a um":{"main":[[{"node":"Send email","type":"main","index":0}],[{"node":"Requisita API Pacto","type":"main","index":0}]]},"Requisita API Pacto":{"main":[[{"node":"Possui foto?","type":"main","index":0}]]},"Espera para requisitar PACTO novamente":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Envia URL da foto para app.corpore":{"main":[[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"Possui foto?":{"main":[[{"node":"Envia URL da foto para app.corpore","type":"main","index":0}],[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Recupera todos os clientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"976a6d16-04ec-44cf-90f6-285d68fda44a","triggerCount":1,"shared":[{"createdAt":"2025-08-27T14:31:16.623Z","updatedAt":"2025-08-27T14:31:16.623Z","role":"workflow:owner","workflowId":"Gyhr9RbQrFhYBLKQ","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-22T12:36:09.662Z","updatedAt":"2025-10-10T14:35:11.379Z","id":"MSaV2QBk3VbwpItp","name":"Caio - Test Apis","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[336,400],"id":"05f9ddb2-1718-4ff5-812b-f6b24c3765c5","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"821052df-553d-436b-a525-fc906ef470b7","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1184,80],"id":"3c83ce81-2f38-43c0-9353-34183bf044b3","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52af9783-eab7-4a3f-88ea-8f78d3941b8d","leftValue":"={{ $json.client_name }}","rightValue":"Ativo","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1520,240],"id":"2c8ef5d0-000c-466b-b631-231649755beb","name":"Filter","alwaysOutputData":false},{"parameters":{"url":"https://api.corporetraininggym.com.br/clients","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{ $json.pageNumber }}"},{"name":"limit","value":"30"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,464],"id":"cde7b616-b489-4652-9dff-b2998311f5a2","name":"HTTP Request1"},{"parameters":{"jsCode":"// ===== OPÇÃO 1: NO NÓ ANTES DO \"Loop sobre itens\" =====\n// Cole este código no nó Code que vem antes do \"Loop sobre itens\"\n\n// Criar array com números de 1 a 24\nconst numbers = Array.from({length: 30}, (_, i) => i + 1);\n\n// Retornar cada número como um item separado\nreturn numbers.map(number => ({\n  json: {\n    pageNumber: number,\n    totalPages: 30\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,0],"id":"106c51f2-fea5-4f67-b7b3-9197bd5f4c9e","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[832,96],"id":"cc3df02f-fbd0-4237-9dc2-c78523810fd6","name":"Wait","webhookId":"553f38b3-96e4-4a72-8f4f-1af4f3d1a262"},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"={{ $json.conciliation.pacto }}"},{"name":"page","value":"=0"},{"name":"size","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3568,128],"id":"f21d3245-0c57-4848-9431-91b43c9e6949","name":"Requisita API Pacto","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,-128],"id":"f3889d1c-d4fa-4b52-84af-30f560fb06d3","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"906d0a7e-348b-4ac1-a2e4-51dd406142b7","leftValue":"={{ $('Edit Fields').item.json.client_name }}","rightValue":"={{ $json.content[0].pessoa.nome }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,-272],"id":"a7e5a53f-33b8-410b-a63f-788aa2dcded7","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"7610dafa-c651-465c-84a5-136a9d22f9f0","name":"client_phone","value":"={{ $json.client_phone }}","type":"string"},{"id":"c1041d3d-7505-4790-ab32-1a577bf2cc7c","name":"client_id","value":"={{ ($json.client_id) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-176],"id":"7b1c595a-5364-414b-b61d-8744e28dbbe0","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20b78ab4-ce13-4d51-a565-81dc17e5aa30","leftValue":"={{ $json.conciliation.lead_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2256,-432],"id":"a23deecb-144d-4ece-9bbe-cf57a41c79df","name":"Filter1"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/lead","sendQuery":true,"queryParameters":{"parameters":[{"name":"field","value":"id"},{"name":"value","value":"=000062"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-208],"id":"01e3540d-43ef-4027-a91b-a20c9af3ca85","name":"HTTP Request2","alwaysOutputData":true},{"parameters":{"url":"https://api.corporetraininggym.com.br/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"=1"},{"name":"limit","value":"50"},{"name":"search","value":"={{ $('Loop Over Items3').item.json.client_phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,384],"id":"05c8f857-e223-48ae-89b6-31214beb6ea9","name":"HTTP Request3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76fe2225-d0e5-44cb-9d32-6a2ee2f7ce7a","leftValue":"={{ $json.lead.lead_name }}","rightValue":"={{ $('Loop Over Items1').item.json.client_name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1648,-208],"id":"6bb24761-2e8f-462d-981e-f0c96b362d19","name":"If1"},{"parameters":{"method":"PUT","url":"=https://api.corporetraininggym.com.br/conciliation/{{ $json.conciliation.pacto }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"lead_id","value":"={{ $('HTTP Request3').item.json.items[0].lead_id }}"},{"name":"client_id","value":"={{ $json.conciliation.client_id }}"},{"name":"chatguru","value":"={{ $json.conciliation.chatguru }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4256,416],"id":"1af7a7ae-8259-4f3e-8a84-f39d8a68bfae","name":"HTTP Request4","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89028270-b03e-4a07-ac43-d82454b53385","leftValue":"={{ $json.client_status }}","rightValue":"Ativo","operator":{"type":"string","operation":"equals"}},{"id":"fcb9c228-0cda-4600-8866-de15047aa96c","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1408,-32],"id":"fd3c036c-6411-4b0e-b697-5fa0b039b8bd","name":"Filter2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2496,-304],"id":"13d80e10-6c32-4b30-aaac-16d74a41ba6d","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90c7dbf4-df0c-4cda-a685-cb678a5485ec","leftValue":"={{ $json.conciliation.lead_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}},{"id":"556de65e-a2d6-4bcf-aa79-c6497c957124","leftValue":"={{ $json.conciliation.pacto }}","rightValue":"={{ $json.items[0].client_id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2784,-288],"id":"156ac318-f9f6-4e45-9c36-08e93dbdd1b3","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c1735b-e821-4dc8-857a-e3065dcf0a45","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c15a8592-8dc5-407c-bfa5-871e775efe39","leftValue":"={{ $json.client_status }}","rightValue":"Ativo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,80],"id":"e5151027-5552-463d-adb2-e31669d2bfac","name":"If3"},{"parameters":{"fieldToSplitOut":"items","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1568,464],"id":"f5414666-457b-4ca4-9236-93d018098ba6","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2288,16],"id":"8fe4807f-180a-4d2d-a522-7b20f93a0eea","name":"Loop Over Items2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3248,160],"id":"db19c9c4-8b23-436f-a82b-557aafd5358d","name":"Wait1","webhookId":"679ce17e-fd8e-4373-a21f-818d735c2f86"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb0e09b4-213d-4ef5-b629-e82bf2b67846","leftValue":"={{ $json.client_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1824,32],"id":"42ed0287-1c0f-451a-8b07-0897f1af60f2","name":"Filter4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfbdd76c-0490-4756-a62c-9168cadc2c8f","leftValue":"={{ $json.conciliation.lead_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2752,32],"id":"37de2529-82d4-4382-acca-f845d0b58c6e","name":"If4"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/conciliation/{{ $('Loop Over Items3').item.json.client_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,416],"id":"a6cc79f3-7cad-43ce-9e3e-98b513b67cd8","name":"HTTP Request5","retryOnFail":false,"maxTries":2,"alwaysOutputData":true},{"parameters":{"url":"https://api.corporetraininggym.com.br/clients/015991","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,784],"id":"4413ecfd-e7d0-4de3-9a77-ae89d6bdafd2","name":"HTTP Request6"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/clients/{{ $json.client_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"=24"},{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,32],"id":"6f92d85c-9df2-4772-8320-b975c41d3cae","name":"HTTP Request7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2144,432],"id":"be15b296-e282-4419-8c1d-6f50516b0546","name":"Loop Over Items3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b39a0df7-0ba4-45e1-8249-7b1ef0670cee","leftValue":"={{ $json.conciliation.lead_id }}","rightValue":"=","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3616,496],"id":"6fea8829-b237-4583-80db-b14aec8d5a2a","name":"If5","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3c9feb0-e284-4ebe-97a0-467e0fe502c8","leftValue":"={{ $json.client_status }}","rightValue":"Ativo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1776,464],"id":"5633b4e3-15c6-4f31-8c70-f719f4517a2f","name":"Filter3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1072,384],"id":"005fb77f-fd02-4571-bdef-6704ee48f81b","name":"Loop Over Items4","alwaysOutputData":false},{"parameters":{"jsCode":"// ===== OPÇÃO 1: NO NÓ ANTES DO \"Loop sobre itens\" =====\n// Cole este código no nó Code que vem antes do \"Loop sobre itens\"\n\n// Criar array com números de 1 a 24\nconst numbers = Array.from({length: 2}, (_, i) => i + 1);\n\n// Retornar cada número como um item separado\nreturn numbers.map(number => ({\n  json: {\n    pageNumber: number,\n    totalPages: 2\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,384],"id":"3a249f70-3308-4115-866e-dfda8d2c7cce","name":"Code1"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/lead","sendQuery":true,"queryParameters":{"parameters":[{"name":"field","value":"whatsapp"},{"name":"value","value":"={{ $json.client_phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3744,256],"id":"4d73503e-0acc-42e2-ac8e-63cefda75471","name":"Pesquisa com Número de Telefone","retryOnFail":false,"maxTries":2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/lead","sendQuery":true,"queryParameters":{"parameters":[{"name":"field","value":"name"},{"name":"value","value":"=nicole"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2848,976],"id":"975c8ace-24de-4a05-9fe8-95e3c52eee4f","name":"Pesquisa com Número de Telefone1","retryOnFail":false,"maxTries":2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f5bcc4c-c477-4fcb-9076-da9a254c5786","leftValue":"={{ $json.error }}","rightValue":400,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2816,624],"id":"3df6c160-8fd8-4703-ba98-300768c635f6","name":"If6"},{"parameters":{"url":"https://api.corporetraininggym.com.br/leads","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"1"},{"name":"limit","value":"50"},{"name":"search","value":"={{ $json.client_phone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2592,416],"id":"bb859e81-2eef-4df8-8931-2a76923a6a27","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If3","type":"main","index":0}]]},"Filter":{"main":[[]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Requisita API Pacto":{"main":[[]]},"Edit Fields":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"If":{"main":[[],[]]},"Filter1":{"main":[[]]},"HTTP Request2":{"main":[[]]},"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Filter2":{"main":[[]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[]]},"Wait1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"If5":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Pesquisa com Número de Telefone":{"main":[[]]},"Pesquisa com Número de Telefone1":{"main":[[]]},"If6":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fa1f8bcd-417d-4f44-9b3f-4f4ab94441d3","triggerCount":0,"shared":[{"createdAt":"2025-08-22T12:36:09.662Z","updatedAt":"2025-08-22T12:36:09.662Z","role":"workflow:owner","workflowId":"MSaV2QBk3VbwpItp","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2026-05-23T18:40:38.131Z","updatedAt":"2026-05-23T18:40:51.656Z","id":"EEr3rKtxfttoLBgc","name":"Exemplo - Webhook resposta JSON","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"exemplo-hello","responseMode":"responseNode","options":{}},"id":"11111111-1111-1111-1111-111111111111","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,0],"webhookId":"exemplo-hello-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"message","value":"=Olá, {{ $json.query.name || 'visitante' }}! Bem-vindo ao n8n.","type":"string"},{"id":"a2","name":"receivedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"a3","name":"method","value":"={{ $json.headers ? 'GET' : 'GET' }}","type":"string"},{"id":"a4","name":"status","value":"ok","type":"string"}]},"options":{}},"id":"22222222-2222-2222-2222-222222222222","name":"Montar resposta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"33333333-3333-3333-3333-333333333333","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[280,0]}],"connections":{"Webhook":{"main":[[{"node":"Montar resposta","type":"main","index":0}]]},"Montar resposta":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"35054398-1d1c-45a7-b6ce-e13bb2ffc7d2","triggerCount":1,"shared":[{"createdAt":"2026-05-23T18:40:38.131Z","updatedAt":"2026-05-23T18:40:38.131Z","role":"workflow:owner","workflowId":"EEr3rKtxfttoLBgc","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-30T17:57:33.167Z","updatedAt":"2025-11-07T19:54:43.582Z","id":"mBiAUvKYMsgcGo81","name":"ChatGuru - Envia mensagem e dispara Diálogo","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"8c01f448-6bdc-4bdd-8b12-b11ea1bd2838","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,-64],"id":"30c44c50-0c97-45c0-a103-cc1852fce4e5","name":"Webhook","webhookId":"8c01f448-6bdc-4bdd-8b12-b11ea1bd2838"},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"dialog_id","value":"67a64f876fe63d6454329ad2"},{"name":"chat_number","value":"={{ $json.phone }}"},{"name":"name","value":"={{ $json.name }}"},{"name":"text","value":"=Oi, {{ $json.name }}\n\nVocê está recebendo essa mensagem por estar participando da ação \"Corpore no Parque\""}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,-64],"id":"c7d9c182-99b8-43c9-8f44-b9e3e616a983","name":"ChatGuru"}],"connections":{"Webhook":{"main":[[{"node":"ChatGuru","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"name":"Mazetto","phone":5514991610332}}]},"versionId":"893185a2-3714-47bf-adde-a0b8ab88612a","triggerCount":0,"shared":[{"createdAt":"2025-10-30T17:57:33.167Z","updatedAt":"2025-10-30T17:57:33.167Z","role":"workflow:owner","workflowId":"mBiAUvKYMsgcGo81","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-12T13:48:27.186Z","updatedAt":"2025-10-10T14:35:27.907Z","id":"tHSY8ney20wjDzxh","name":"Anamnese","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://app.corporetraininggym.com.br/rest/?action=all_clients","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,48],"id":"9a8ea7d4-7686-4ce6-9ab1-197aacc75e78","name":"Recupera todos os clientes"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-832,48],"id":"ea33314b-b761-40d8-86c1-d1ea87f22132","name":"Executa um a um"},{"parameters":{"fromEmail":"homologacao@kodame.com.br","toEmail":"contato@kodame.com.br","subject":"n8n - Anamneses","html":"Todas as Anamneses do Pacto foram importadas para o Sistema","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-496,-176],"id":"a4f017ba-5ea1-4f1f-856c-5952120dc62d","name":"Send email","webhookId":"e23154a1-0198-42e0-9ad9-8a577dce471a","credentials":{"smtp":{"id":"xc3G7INnhDlWbuDE","name":"Kodame Homologação"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd25729-4b6f-4bdc-ac35-7f79f8cb4d1a","leftValue":"={{ $json.content }}","rightValue":"https://","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,288],"id":"bf528f42-363c-4382-90c0-fd29bbba1850","name":"Possui foto?","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.corporetraininggym.com.br/client_data","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('Recupera todos os clientes').item.json.matricula }}"},{"name":"form","value":"technical-analisys"},{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,512],"id":"a662e69a-502a-4600-a66b-abdb863c8dd3","name":"Anamnese"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/psec/avaliacoes-fisica/{{ $json.ID }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"empresaId","value":"1"},{"name":"chave","value":"57eb95a07a1630d67cc94c6381b43ab2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,224],"id":"961e51b5-6de2-4360-abc1-ab004a37b8e0","name":"Re Anamnese","credentials":{"httpBearerAuth":{"id":"BgFgdCTJ2cFOtWG7","name":"Anamnese"}}},{"parameters":{"promptType":"define","text":"=Instruções\n\n1. Leia todas as perguntas, opções marcadas (respostas) e observações.   \n2. Se a observação for apenas “Ok”, registre o exercício na lista \"Execução OK\".  \n3. Ao final, traga a **Percepção de Esforço (RPE)**.  \n4. Com base em tudo, escreva um **resumo corrido**, bem escrito e fluido, que contemple todas as informações (sem deixar nada de fora), não incluia os exercicios feitos, entregue apenas o resumo como resultado.\n5. Se estiver escrito opção não encontrada ignorar pois esse exercicio não foi realizado\n\nFormato de Saída\n \n1. Resumo corrido: Texto único, objetivo, mas com todas as informações, entre 400 e 1500 caracteres  \n2. Percepção de Esforço (RPE)  \n\n\nTexto referido acima:\n {{ $json.content.anamneseSelecionada.nome }}\n\n{{ $json.content.anamneseSelecionada.perguntas[0].pergunta }} {{ $json.content.anamneseRespostas[0].resposta }}\n\n\n{{ $json.content.anamneseRespostas[1].anamnesePergunta.pergunta }}{{ $json.content.anamneseRespostas[1].resposta }}\n\n{{ $json.content.anamneseRespostas[2].anamnesePergunta.pergunta }}{{ $json.content.anamneseRespostas[2].resposta }}\n\n{{ $json.content.anamneseRespostas[3].anamnesePergunta.pergunta }}{{ $json.content.anamneseRespostas[3].resposta }}\n\n{{ $json.content.anamneseRespostas[4].anamnesePergunta.pergunta }}{{ $json.content.anamneseRespostas[4].resposta }}\n\n{{ $json.content.anamneseRespostas[5].anamnesePergunta.pergunta }}{{ $json.content.anamneseRespostas[5].resposta }}\n\n{{ $json.content.anamneseRespostas[6].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[6]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[6]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}\n\n{{ $json.content.anamneseRespostas[7].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[7]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[7]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[7]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[7]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[7]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[7]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}} e {{ \n  (\n    ($json.content?.anamneseRespostas?.[7]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[7]?.resposta?.[3]))\n    || {}\n  ).nome || '' \n}} \nObservação desse exércicio: {{ $json.content.anamneseRespostas[7].observacao }}\n\n{{ $json.content.anamneseRespostas[8].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[8]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[8]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[8]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[8]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[8]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[8]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[8]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[8]?.resposta?.[3]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[8].observacao }}\n\n{{ $json.content.anamneseRespostas[9].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[9]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[9]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[9]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[9]?.resposta?.[1]))\n    || {}\n  ).nome || 'Opção não encontrada' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[9]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[9]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[9].observacao }}\n\n{{ $json.content.anamneseRespostas[10].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[10]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[10]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[10]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[10]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[10]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[10]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[10].observacao }}\n\n{{ $json.content.anamneseRespostas[11].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[11]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[11]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[11]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[11]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[11]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[11]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[11].observacao }}\n\n{{ $json.content.anamneseRespostas[12].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[12]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[12]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[12]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[12]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[12]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[12]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}   \nObservação desse exércicio: {{ $json.content.anamneseRespostas[12].observacao }}\n\n{{ $json.content.anamneseRespostas[13].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[13]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[13]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[13]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[13]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}} \nObservação desse exércicio: {{ $json.content.anamneseRespostas[13].observacao }}\n\n{{ $json.content.anamneseRespostas[14].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[14]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[14]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[14]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[14]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[14]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[14]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[14].observacao }}\n\n{{ $json.content.anamneseRespostas[15].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[15]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[15]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[15]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[15]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[15]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[15]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[15].observacao }}\n\n{{ $json.content.anamneseRespostas[16].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[16]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[16]?.resposta?.[0]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[16]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[16]?.resposta?.[1]))\n    || {}\n  ).nome || '' \n}}, {{ \n  (\n    ($json.content?.anamneseRespostas?.[16]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[16]?.resposta?.[2]))\n    || {}\n  ).nome || '' \n}}\nObservação desse exércicio: {{ $json.content.anamneseRespostas[16].observacao }}\n\n{{ $json.content.anamneseRespostas[17].anamnesePergunta.pergunta }}: {{ \n  (\n    ($json.content?.anamneseRespostas?.[17]?.anamnesePergunta?.opcoes || [])\n      .find(o => String(o.id) === String($json.content?.anamneseRespostas?.[17]?.resposta))\n    || {}\n  ).nome || '' \n}}\n\n\nFlexibilidade: {{ $json.content.flexibilidade.indicadorColuna }}\n\nAssimetrias:\nOmbros: {{ $json.content.postura.assimetrias.ombrosAssimetricos }}\nQuadril: {{ $json.content.postura.assimetrias.assimetriaQuadril }}\n\nAerobico Frequencia: {{ $json.content.vo2.aerobicoBancoFrequencia }}\n\nNota do Avaliador: \nComposição: {{ $json.content.composicaoNota }}\nCardio: {{ $json.content.cardioNota }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-48,272],"id":"f7b8a931-5039-4420-96b7-4fa3b4b3cf5f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-112,464],"id":"d008b394-02ec-4236-8a83-30a3a17b2048","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"f6Xff78OB9BvVQr0","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1456,48],"id":"4cc3d3a6-bc9b-4c94-9ed7-b29ea4dcdb35","name":"Schedule Trigger"}],"connections":{"Recupera todos os clientes":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Executa um a um":{"main":[[{"node":"Send email","type":"main","index":0}],[{"node":"Re Anamnese","type":"main","index":0}]]},"Possui foto?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"Anamnese":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Re Anamnese":{"main":[[{"node":"Possui foto?","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Anamnese","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Recupera todos os clientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c4339ae6-6d3d-4dfd-8018-2e0f89021cb7","triggerCount":1,"shared":[{"createdAt":"2025-08-12T13:48:27.186Z","updatedAt":"2025-08-12T13:48:27.186Z","role":"workflow:owner","workflowId":"tHSY8ney20wjDzxh","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-07-29T15:56:14.508Z","updatedAt":"2025-10-17T18:31:00.504Z","id":"GxPsEMYLbrAoN8eT","name":"Pacto - Fotos v5","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT c.id AS ID,\n  c.client_id AS matricula, \n  rel.pacto_id, \n  c.client_name AS nome\nFROM ctb_clients c \n  LEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id \nWHERE c.dt_plan_finish > CURDATE() \n  AND c.id NOT IN (\n    SELECT client_id FROM ctb_client_meta\n    WHERE meta_key='photo_pacto'\n  )\nORDER BY c.dt_enroll DESC","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-320,320],"id":"59f31bb6-dfa9-4074-b76d-d88b53a01953","name":"getClientsWithoutPhoto","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,320],"id":"64fb6771-4aec-4fc4-9c46-445fcec46851","name":"1.loop"},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"={{ $json.matricula }}"},{"name":"page","value":"0"},{"name":"size","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,384],"id":"5da2f14d-6320-4577-9870-390026572162","name":"getPactoData","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd25729-4b6f-4bdc-ac35-7f79f8cb4d1a","leftValue":"={{ $json.content[0].pessoa.fotoUrl }}","rightValue":"https://","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,384],"id":"a09a7a00-440d-44b5-bafe-2d1620f03e24","name":"hasPhoto","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://app.corporetraininggym.com.br/rest/?action=pacto_photo","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.content[0].matricula }}"},{"name":"photo","value":"={{ $json.content[0].pessoa.fotoUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,320],"id":"3c300589-2549-4326-bfcd-7cfeb8876565","name":"updatePhoto","onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,480],"id":"bf86fb62-3475-43e3-bd6c-ead188c3be40","name":"1.wait","webhookId":"f0b4df8d-4c39-4dd3-998d-c652fb763113"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q","mode":"id"},"sheetName":{"__rl":true,"value":1063289017,"mode":"list","cachedResultName":"Foto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=1063289017"},"columns":{"mappingMode":"defineBelow","value":{"item":"={{ $('1.loop').item.json.matricula }} - {{ $('1.loop').item.json.nome }}","erro":"Não tem foto","data/hora":"={{ DateTime.local() }}"},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,480],"id":"7ddb90c4-5822-4ab8-9573-c65cc7774fce","name":"Error - noPhoto","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-656,320],"id":"837d6f6f-21b6-495b-936b-daad62fcb2cb","name":"at11pm"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1063289017,"mode":"list","cachedResultName":"Foto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=1063289017"},"keepFirstRow":true},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-480,320],"id":"a2ea1bf5-40c6-4ac4-a33c-04e322835007","name":"clearErrors","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"}],"connections":{"getClientsWithoutPhoto":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"1.loop":{"main":[[],[{"node":"getPactoData","type":"main","index":0}]]},"getPactoData":{"main":[[{"node":"hasPhoto","type":"main","index":0}]]},"hasPhoto":{"main":[[{"node":"updatePhoto","type":"main","index":0}],[{"node":"Error - noPhoto","type":"main","index":0}]]},"updatePhoto":{"main":[[{"node":"1.wait","type":"main","index":0}]]},"1.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"Error - noPhoto":{"main":[[{"node":"1.wait","type":"main","index":0}]]},"at11pm":{"main":[[{"node":"clearErrors","type":"main","index":0}]]},"clearErrors":{"main":[[{"node":"getClientsWithoutPhoto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:at11am":{"recurrenceRules":[]},"node:at5am":{"recurrenceRules":[]},"node:at11pm":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8166bd8a-9e19-4169-922d-25743e16ad6e","triggerCount":1,"shared":[{"createdAt":"2025-07-29T15:56:14.508Z","updatedAt":"2025-07-29T15:56:14.508Z","role":"workflow:owner","workflowId":"GxPsEMYLbrAoN8eT","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-27T17:35:07.305Z","updatedAt":"2025-10-10T14:35:06.770Z","id":"8hB4Vx2f0hG0N3DA","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"6af92c00-9e39-4826-87eb-077bec849a4c","name":"When clicking ‘Execute workflow’"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"90a90e9d-65c6-47fc-a91f-ab0569ba9bea","triggerCount":0,"shared":[{"createdAt":"2025-08-27T17:35:07.305Z","updatedAt":"2025-08-27T17:35:07.305Z","role":"workflow:owner","workflowId":"8hB4Vx2f0hG0N3DA","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-09-19T19:23:10.626Z","updatedAt":"2025-11-07T20:23:54.767Z","id":"H9JPrYScZ4tI51i4","name":"Conciliação - Pacto v4","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const isNumeric = /^\\d+$/.test($input.first().json.matricula.trim());\n\nreturn isNumeric ? $input.first() : {};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,176],"id":"8107e049-964f-44fa-917b-a36e796d6110","name":"testEnroll"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53fe9e41-7184-4835-9bc5-10451197c13b","leftValue":"={{ $json.matricula }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,176],"id":"33b7dad2-6b72-4c3e-9d12-ecd5d1b841a7","name":"isValidEnroll"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-608,64],"id":"da75cdae-43c8-494f-b57d-fe484bd1ad53","name":"1.loop"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/psec/alunos/matricula/{{ $json.matricula }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,272],"id":"ef07fd35-f83f-4a3e-8d92-632fdd437ba7","name":"Pacto - getID","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da1df616-3238-4b53-b9cc-fb05a4b85193","leftValue":"={{ $json.content.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,272],"id":"d6ed40c5-b562-4d60-83dd-bdb20ee83377","name":"hasId"},{"parameters":{"operation":"executeQuery","query":"UPDATE ctb_conciliation SET pacto_id={{ $('Pacto - getID').item.json.content.id }} WHERE pacto='{{ $('testEnroll').item.json.matricula }}'\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[560,368],"id":"26a70853-3e3d-48e6-9e7b-f210695d2c43","name":"UpdateTable","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"amount":2.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,368],"id":"fcd914af-69a1-4af2-9b9e-68cb54cb769c","name":"Wait","webhookId":"1d05df44-24df-4fa0-941a-cda91292a118"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  rel.pacto AS matricula \nFROM ctb_clients c\nLEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id\nWHERE 1=1\n  AND dt_plan_finish > CURDATE() \n  AND rel.pacto_id IS NULL\n  AND rel.pacto IS NOT NULL\nORDER BY c.client_id","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-880,64],"id":"b309d46d-04b3-4bcf-8fce-47502ac67ae1","name":"missingActiveClients","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1136,64],"id":"ad58b425-9388-49ce-a48d-0882c2fe6068","name":"at5am"}],"connections":{"testEnroll":{"main":[[{"node":"isValidEnroll","type":"main","index":0}]]},"isValidEnroll":{"main":[[{"node":"Pacto - getID","type":"main","index":0}],[{"node":"1.loop","type":"main","index":0}]]},"1.loop":{"main":[[],[{"node":"testEnroll","type":"main","index":0}]]},"Pacto - getID":{"main":[[{"node":"hasId","type":"main","index":0}]]},"hasId":{"main":[[{"node":"UpdateTable","type":"main","index":0}],[{"node":"1.loop","type":"main","index":0}]]},"UpdateTable":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"missingActiveClients":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"at5am":{"main":[[{"node":"missingActiveClients","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:at5am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7eddcf1f-31a7-45a6-8dfb-0c2570877252","triggerCount":1,"shared":[{"createdAt":"2025-09-19T19:23:10.626Z","updatedAt":"2025-09-19T19:23:10.626Z","role":"workflow:owner","workflowId":"H9JPrYScZ4tI51i4","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2026-05-23T20:29:44.651Z","updatedAt":"2026-05-24T13:12:21.643Z","id":"AS1GuapOOkAfJdOs","name":"Catraca - Renovação v6","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q","mode":"id"},"sheetName":{"__rl":true,"value":199654387,"mode":"list","cachedResultName":"Renovação v2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=199654387"},"columns":{"mappingMode":"defineBelow","value":{"data/hora":"={{ DateTime.local() }}","destinatário":"={{ $json.phone + \" - \" + $('findConsultant').item.json.consultant_name }}","mensagem":"={{ $('buildMessages').item.json.mensagens.consultor || $('buildPrompt').item.json.clientCard }}","aluno":"={{ $('findByMatricula').item.json.client_id + \" - \" + $('findByMatricula').item.json.client_name }}"},"matchingColumns":[],"schema":[{"id":"aluno","displayName":"aluno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"destinatário","displayName":"destinatário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,2256],"id":"cbd8e3a5-551b-4697-9954-46efdcfb0699","name":"1.logMessage","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return { status: \"Consultor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2160],"id":"a59a4bb5-304f-4c92-9f4b-933a3f3d62a1","name":"1.withoutPhone"},{"parameters":{"jsCode":"return { status: \"Coordenador sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2592],"id":"731ad11a-fa57-4606-ac75-f7638d626324","name":"2.withoutPhone"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09M261P8F9","mode":"list","cachedResultName":"automacoes"},"messageType":"block","blocksUi":"={{ $('getClientFromAPI').item.json.slack_message }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,3248],"id":"0c1ed36a-d3a9-4997-8ab6-45af8d56f8d6","name":"sendMessage","webhookId":"3bf4ceae-5078-46f4-a172-b6f19090fca9","credentials":{"slackOAuth2Api":{"id":"tqVFqltyc7f0TKCZ","name":"Slack Corpore Automações"}}},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.consultant.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.consultant.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,1904],"id":"6bba946c-7140-45cf-adf5-4e4cf61d3ef5","name":"1.sendChatGuru","onError":"continueRegularOutput"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('listenPacto').item.json.body.cliente.matricula }}/dados-pessoais","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,2464],"id":"3c1dc6f0-3d9d-4ccf-b75c-d92a76a9894e","name":"getCodes & getSituacao","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/pessoas/{{ $('getCodes & getSituacao').item.json.content.codigoPessoa }}/contratos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sort","value":"vigenciaAteAjustada,desc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,2464],"id":"d44a406b-aa3e-4eb9-8b49-8048aba4de9e","name":"getContrato","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"jsCode":"const contracts = $input.first().json.content || [];\nconst dataAtual = Date.now();\nconst trintaDiasEmMs = 30 * 24 * 60 * 60 * 1000;\nconst limiteMs = dataAtual + trintaDiasEmMs;\n\nconst futureContract = contracts.find(c => (c.vigenciaDe || 0) > dataAtual);\nconst currentContract = contracts.find(c => (c.vigenciaDe || 0) <= dataAtual) || contracts[0] || null;\n\nconst referenceContract = futureContract || currentContract;\nconst vigenciaAteAjustada = referenceContract?.vigenciaAteAjustada || referenceContract?.vigenciaAte || 0;\n\n// Plano de 30 dias = 1 mês\nconst is30DayPlan = (currentContract?.contratoDuracao?.numeroMeses || 0) === 1;\n\nreturn {\n  alreadyRenew: vigenciaAteAjustada > limiteMs,\n  is30DayPlan,\n  hasFutureContract: !!futureContract,\n  vigenciaAteAjustada,\n  currentContractExpiry: currentContract?.vigenciaAteAjustada || currentContract?.vigenciaAte || 0,\n  futureContractExpiry: futureContract?.vigenciaAteAjustada || futureContract?.vigenciaAte || null,\n  planoDuracao: currentContract?.contratoDuracao?.numeroMeses || null,\n  planoDescricao: currentContract?.descricaoPlano || null\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,2464],"id":"1fee522e-ce4a-47ba-b709-86ba7e1516a7","name":"checkVigencia"},{"parameters":{"jsCode":"return { status: \"Cliente já fez a renovação do contrato.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,2720],"id":"a6fca6d6-f72c-4ced-a453-7b86a350e32a","name":"2.withoutReturn"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"operation":"false","singleValue":true,"type":"boolean"},"rightValue":"","id":"9ab60972-012f-4a20-8a24-8d1fa0a04563","leftValue":"={{ $json.alreadyRenew }}"},{"operator":{"operation":"false","singleValue":true,"type":"boolean"},"rightValue":"","id":"25e1b7ca-968c-4c7d-8d47-368cc3e30ed9","leftValue":"={{ $json.is30DayPlan }}"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,2464],"id":"829d0f15-dedc-47e2-b3d2-c0b36f2584ef","name":"withoutRenew"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a9e6cf7-ae7d-417a-a748-d6dce9a5afe5","leftValue":"={{ $json.body.acesso }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"ed498b9d-0393-49c9-b7c7-e9625329c205","leftValue":"={{ $json.body.acesso.sentido }}","rightValue":"E","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,2544],"id":"99b1aece-69cc-4a91-b5d6-3223c2427249","name":"ifEntrance"},{"parameters":{"jsCode":"return { status: \"Notificação não é do tipo Acesso de Entrada.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,2688],"id":"869c8644-0b4b-485a-a698-75c098a174d9","name":"0.withoutReturn"},{"parameters":{"url":"=https://api.corporetraininggym.com.br/client/{{ $json.body.cliente.matricula }}/renewal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,2480],"id":"bda7fde9-90b7-4c0b-b4a5-bfd4abd87bfe","name":"getClientFromAPI","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const message = $(\"getClientFromAPI\").first().json.error.message.replace('400 - ', '');\nconst obj = JSON.parse(JSON.parse(message));\nconst r = obj?.message || 'Erro da API';\nreturn { error: r };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,2576],"id":"4c4d8d24-f20e-489f-9119-fdc0585fbf86","name":"showError"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.consultant.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2048],"id":"b819ea39-35a2-4b45-8447-710cd642455b","name":"hasConsultantPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.coordinator.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2448],"id":"ce196a54-1c26-4258-8a1d-f32da3d2d555","name":"hasCoordinatorPhone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.teacher.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2896],"id":"bb23188e-db72-41ce-84db-bdfc2016dd80","name":"hasTeacherPhone"},{"parameters":{"jsCode":"return { status: \"Professor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,3072],"id":"69bc09a3-d9e9-4185-b07a-22a47259214e","name":"3.withoutPhone1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1392,2544],"id":"ffc754d2-c43f-4fe6-bb35-5dd44bfd9057","name":"listenPacto"},{"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.coordinator.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.coordinator.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,2352],"id":"d0be995e-3566-4553-86fa-f6b6a53175c1","name":"2.sendChatGuru","onError":"continueRegularOutput"}],"connections":{"getCodes & getSituacao":{"main":[[{"node":"getContrato","type":"main","index":0}]]},"getContrato":{"main":[[{"node":"checkVigencia","type":"main","index":0}]]},"checkVigencia":{"main":[[{"node":"withoutRenew","type":"main","index":0}]]},"withoutRenew":{"main":[[{"node":"sendMessage","type":"main","index":0},{"node":"hasConsultantPhone","type":"main","index":0},{"node":"hasCoordinatorPhone","type":"main","index":0},{"node":"hasTeacherPhone","type":"main","index":0}],[{"node":"2.withoutReturn","type":"main","index":0}]]},"ifEntrance":{"main":[[{"node":"getClientFromAPI","type":"main","index":0}],[{"node":"0.withoutReturn","type":"main","index":0}]]},"getClientFromAPI":{"main":[[{"node":"getCodes & getSituacao","type":"main","index":0}],[{"node":"showError","type":"main","index":0}]]},"hasConsultantPhone":{"main":[[{"node":"1.sendChatGuru","type":"main","index":0}],[{"node":"1.withoutPhone","type":"main","index":0}]]},"hasCoordinatorPhone":{"main":[[{"node":"2.sendChatGuru","type":"main","index":0}],[{"node":"2.withoutPhone","type":"main","index":0}]]},"hasTeacherPhone":{"main":[[],[{"node":"3.withoutPhone1","type":"main","index":0}]]},"listenPacto":{"main":[[{"node":"ifEntrance","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"78bde1aa-9045-4039-a811-ea53253554e0","triggerCount":0,"shared":[{"createdAt":"2026-05-23T20:29:44.651Z","updatedAt":"2026-05-23T20:29:44.651Z","role":"workflow:owner","workflowId":"AS1GuapOOkAfJdOs","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-27T14:53:40.756Z","updatedAt":"2025-10-10T19:59:09.660Z","id":"ErH50j5t0K4KzLYJ","name":"Pacto - Enviar foto para Action Fit (Passo)","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://passo.actionfitacademia.com.br/rest/?action=clients_without_photo","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-144],"id":"9bc2f2c2-d1dd-4b5c-82c6-d581cb8de21d","name":"Recupera todos os clientes"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,-144],"id":"2c7adaf2-b09a-49a1-9238-2ecd7c312462","name":"Executa um a um"},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"={{ $json.matricula }}"},{"name":"page","value":"0"},{"name":"size","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-64],"id":"a08bd96e-c69f-4250-8024-4c9417dc60a7","name":"Requisita API Pacto","credentials":{"httpBearerAuth":{"id":"P7d4IbSRn64UY1VC","name":"Pacto Passo"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,144],"id":"9e1a0698-16d0-42da-a712-224b3ec03564","name":"Espera para requisitar PACTO novamente","webhookId":"8dc619c3-d1e1-44e9-91d7-ff0dde2fcca7"},{"parameters":{"method":"POST","url":"https://passo.actionfitacademia.com.br/rest/?action=pacto_photo","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.content[0].matricula }}"},{"name":"photo","value":"={{ $json.content[0].pessoa.fotoUrl }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,176],"id":"a48bf205-5a20-49bc-91e0-72c3ef5a9a9e","name":"Envia URL da foto para app.corpore","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd25729-4b6f-4bdc-ac35-7f79f8cb4d1a","leftValue":"={{ $json.content[0].pessoa.fotoUrl }}","rightValue":"https://","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,160],"id":"15e470e9-45d6-47c1-abea-1ad0c0ebbdc7","name":"Possui foto?","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-144],"id":"f9ad160d-c1c0-43e5-995f-48534d1dc3dc","name":"When clicking ‘Execute workflow’"}],"connections":{"Recupera todos os clientes":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Executa um a um":{"main":[[],[{"node":"Requisita API Pacto","type":"main","index":0}]]},"Requisita API Pacto":{"main":[[{"node":"Possui foto?","type":"main","index":0}]]},"Espera para requisitar PACTO novamente":{"main":[[{"node":"Executa um a um","type":"main","index":0}]]},"Envia URL da foto para app.corpore":{"main":[[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"Possui foto?":{"main":[[{"node":"Envia URL da foto para app.corpore","type":"main","index":0}],[{"node":"Espera para requisitar PACTO novamente","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Recupera todos os clientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"670813bf-f0bc-4ab0-b5c2-85baf49979a7","triggerCount":1,"shared":[{"createdAt":"2025-08-27T14:53:40.756Z","updatedAt":"2025-08-27T14:53:40.756Z","role":"workflow:owner","workflowId":"ErH50j5t0K4KzLYJ","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-07-29T13:43:19.016Z","updatedAt":"2025-10-10T14:34:11.389Z","id":"H1haGWbWLHiKMum9","name":"Pacto Webhook + Slak","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"pacto","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"0de5c6c1-5543-4866-944a-f3c14bf02790","name":"Webhook","webhookId":"7441a0bb-15e2-473f-b9cd-55c8578a8270"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c8ec3e68-1260-476c-be5c-7e06cba9127d","triggerCount":0,"shared":[{"createdAt":"2025-07-29T13:43:19.016Z","updatedAt":"2025-07-29T13:43:19.016Z","role":"workflow:owner","workflowId":"H1haGWbWLHiKMum9","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-02T12:12:18.505Z","updatedAt":"2025-11-12T14:04:49.059Z","id":"ipNoNwZMtslxyc00","name":"Conciliação - Clientes v3","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,-96],"id":"cf7efe7d-36fb-4b57-85ea-61db68ebdfc8","name":"1.loop"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1744,-32],"id":"8e62f6ff-cbfd-4c5f-8f65-1dd52b85a2a0","name":"2.wait","webhookId":"7f08a12f-e41d-4c60-b45d-0b656dc3a6cf"},{"parameters":{"jsCode":"function generate_hash() {\n    const chars = 'abcdefghijklmnopqrstuvxywz0123456789';\n    const len = chars.length;\n    const size = 6;\n    let hash = [];\n\n    for (let i = 0; i < size; i++) {\n        const char = chars[Math.floor(Math.random() * len)];\n\n        // conta quantas vezes o char já apareceu no hash\n        const count = hash.filter(c => c === char).length;\n\n        if (count < 2) {\n            hash.push(char);\n        }\n    }\n\n    return hash.join('');\n}\n\nconst h = generate_hash();\nreturn [{ hash: h }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-80],"id":"ebcf2e5b-1ff6-4fbe-9cb8-ad7d8c26ba1f","name":"buildHash"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"ctb_conciliation","mode":"name"},"limit":1,"where":{"values":[{"column":"hash","value":"={{ $json.hash }}"}]},"options":{"outputColumns":["id"]}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[864,-80],"id":"c30ba499-6325-4868-a523-3664324e24d5","name":"getHash","alwaysOutputData":true,"credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO `ctb_conciliation` \n  (`hash`, `client_id`, `pacto`, `chatguru`) VALUES \n  ('{{ $('buildHash').item.json.hash }}', '{{ $('missingConciliation').item.json.c_id }}', '{{ $('missingConciliation').item.json.client_id }}', '{{ $('missingConciliation').item.json.client_phone }}');\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1536,-64],"id":"68b93e0e-82da-4aac-9b16-57f12e02f92f","name":"createRegister","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}},"onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-96],"id":"14686897-ac43-4ffa-b831-f9bc417ddf57","name":"1.wait","webhookId":"6e1f9c0a-8082-4cbe-bc61-5a0a5db11830"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"166721a0-9f86-470e-932b-60fe500d8da3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-80],"id":"3cf6565c-e81a-4237-b75f-dc83f14b32c6","name":"hasHash"},{"parameters":{"operation":"executeQuery","query":"SELECT c.id as c_id, c.client_id, c.client_phone, c.client_name\nFROM ctb_clients c\nLEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id\nWHERE 1=1\n  AND c.client_id LIKE '0%'\n  AND rel.id IS NULL\n  AND (c.dt_plan_finish IS NULL OR c.dt_plan_finish > CURDATE());","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[96,-96],"id":"badf8b83-c8c1-49ef-9d0f-9ad31bd18cd3","name":"missingConciliation","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,-96],"id":"6406e153-dd1a-4eec-8c39-5b747509506e","name":"at4am"}],"connections":{"1.loop":{"main":[[],[{"node":"buildHash","type":"main","index":0}]]},"2.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"buildHash":{"main":[[{"node":"getHash","type":"main","index":0}]]},"getHash":{"main":[[{"node":"hasHash","type":"main","index":0}]]},"createRegister":{"main":[[{"node":"2.wait","type":"main","index":0}]]},"1.wait":{"main":[[{"node":"buildHash","type":"main","index":0}]]},"hasHash":{"main":[[{"node":"1.wait","type":"main","index":0}],[{"node":"createRegister","type":"main","index":0}]]},"missingConciliation":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"at4am":{"main":[[{"node":"missingConciliation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:at4am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"493e3fcf-77ae-42c5-a371-21687f361ba4","triggerCount":1,"shared":[{"createdAt":"2025-10-02T12:12:18.505Z","updatedAt":"2025-10-02T12:12:18.505Z","role":"workflow:owner","workflowId":"ipNoNwZMtslxyc00","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-20T14:24:45.360Z","updatedAt":"2025-10-20T20:36:23.134Z","id":"g8qGFuiPU9s3h6H2","name":"Pacto - Dados dos Clientes v4","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n  rel.pacto AS matricula \nFROM ctb_clients c\nLEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id\nWHERE 1=1\n  AND dt_plan_finish > CURDATE()\nORDER BY c.client_id","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[784,192],"id":"90d3bd98-d704-4a06-99d0-3a791ecbfa09","name":"getActiveClients","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[976,192],"id":"5224ff6f-766a-4cb5-af56-b1a191e44e9c","name":"1.loop"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[592,192],"id":"2e8a36a8-c9cb-4e1c-8e82-6de4f5a2e278","name":"at5am"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('1.loop').item.json.matricula }}/dados-plano","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,288],"id":"39b96e4c-84ef-44c5-94eb-36f4b50cf541","name":"getVinculos","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $json.matricula }}/dados-pessoais","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1216,256],"id":"fafe1c5c-0fee-4939-8f7f-c94530812c80","name":"getCodes & getSituacao","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueErrorOutput"},{"parameters":{"url":"=https://apigw.pactosolucoes.com.br/pessoas/{{ $('getCodes & getSituacao').item.json.content.codigoPessoa }}/contratos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sort","value":"vigenciaAteAjustada,desc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,320],"id":"09ea2161-ff04-4425-9ea8-6bacff8dd25f","name":"getContrato","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}},"onError":"continueErrorOutput"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,608],"id":"61bf32d3-0c8d-442c-b21d-beba4425f470","name":"1.wait","webhookId":"fcfd7568-ef1b-43ab-8218-0bb1a9eb0e6c"},{"parameters":{"jsCode":"// Campos do retorno\nconst vinculos = $('getVinculos').first().json.content.vinculos;\n\nconst teacher = vinculos.find(v => v.tipoVinculo === \"TW\")?.colaborador || 'NULL';\nconst coordinator = vinculos.find(v => v.tipoVinculo === \"OR\")?.colaborador || 'NULL';\nconst consultant = vinculos.find(v => v.tipoVinculo === \"CO\")?.colaborador || 'NULL';\n\nconst dt_plan_start = $('getContrato').first().json.content[0].vigenciaDe;\nconst dt_plan_finish = $('getContrato').first().json.content[0].vigenciaAteAjustada;\n\nconst data = {\n  client_id: $('1.loop').first().json.matricula,\n  status_pessoa: $('getCodes & getSituacao').first().json.content.situacao,\n  status_contrato: $('getCodes & getSituacao').first().json.content.situacaoContrato, \n  teacher: teacher,\n  coordinator: coordinator,\n  consultant: consultant,\n  dt_plan_start: dt_plan_start,\n  dt_plan_finish: dt_plan_finish\n};\n\nreturn [ data ];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,352],"id":"f90a6e7d-7c98-4b9f-b782-1b5bca1afce1","name":"buildData","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://app.corporetraininggym.com.br/rest/?action=update_client","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('buildData').item.json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,400],"id":"ad076280-93a4-414b-8bdc-2b2a7e6f3235","name":"updateClient","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"getActiveClients":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"1.loop":{"main":[[],[{"node":"getCodes & getSituacao","type":"main","index":0}]]},"at5am":{"main":[[{"node":"getActiveClients","type":"main","index":0}]]},"getVinculos":{"main":[[{"node":"getContrato","type":"main","index":0}],[{"node":"1.wait","type":"main","index":0}]]},"getCodes & getSituacao":{"main":[[{"node":"getVinculos","type":"main","index":0}],[{"node":"1.wait","type":"main","index":0}]]},"getContrato":{"main":[[{"node":"buildData","type":"main","index":0}],[{"node":"1.wait","type":"main","index":0}]]},"1.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"buildData":{"main":[[{"node":"updateClient","type":"main","index":0}],[{"node":"1.wait","type":"main","index":0}]]},"updateClient":{"main":[[{"node":"1.wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:at5am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11039efa-ef88-4c5f-a56b-7712901ae792","triggerCount":1,"shared":[{"createdAt":"2025-10-20T14:24:45.360Z","updatedAt":"2025-10-20T14:24:45.360Z","role":"workflow:owner","workflowId":"g8qGFuiPU9s3h6H2","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-07-29T13:29:56.979Z","updatedAt":"2025-10-10T14:34:28.739Z","id":"zQKcoCw99pBoK5e3","name":"Pacto + Sheets (testes)","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"8e991528-c416-404f-b8fc-a8d0411f9a9f","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://apigw.pactosolucoes.com.br/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pesquisa","value":"a"},{"name":"page","value":"0"},{"name":"size","value":"10"}]},"options":{}},"id":"b87d2f44-3840-46a3-8db9-3c78e5ef269f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"D5s4HxoS3PVFYfXM","name":"Header Auth account"},"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},{"parameters":{"assignments":{"assignments":[{"id":"5744ccfa-3ad6-43c2-9165-e8ebd8d4c651","name":"matricula","value":"={{ $json.content[0].matricula }}","type":"string"},{"id":"5e2c4289-c026-42a4-b595-f31fb402e949","name":"foto","value":"={{ $json.content[0].pessoa.fotoUrl }}","type":"string"}]},"includeOtherFields":"=  ","include":"selected","options":{}},"id":"2a5d8be4-81db-4c4a-b12a-adc3bc4c14d3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-160]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zGcm5yBq2UTP0-OcVUJsohg8-nh8JH7wzokCuy3Dulk","mode":"list","cachedResultName":"Fotos Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zGcm5yBq2UTP0-OcVUJsohg8-nh8JH7wzokCuy3Dulk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":712401869,"mode":"list","cachedResultName":"Fotos Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zGcm5yBq2UTP0-OcVUJsohg8-nh8JH7wzokCuy3Dulk/edit#gid=712401869"},"columns":{"mappingMode":"defineBelow","value":{"matricula":"={{ $json.content[0].matricula }}","fotoUrl":"={{ $json.content[0].pessoa.fotoUrl }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fotoUrl","displayName":"fotoUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[656,0],"id":"984ba286-8ab6-4d06-b2fe-6b1f3aa45d72","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"921rBITMZHkqIKFr","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5186e6fe-214b-4309-9c21-6f1558eaa598","triggerCount":0,"shared":[{"createdAt":"2025-07-29T13:29:56.979Z","updatedAt":"2025-07-29T13:29:56.979Z","role":"workflow:owner","workflowId":"zQKcoCw99pBoK5e3","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-08-17T18:37:21.664Z","updatedAt":"2025-10-10T14:34:06.128Z","id":"2BTt88VyEAimYHrF","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,0],"id":"ba0f2af0-a0e0-433a-a6a8-eb1d60f59e09","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://app.corporetraininggym.com.br/rest/?action=all_clients","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"af8f50b9-28ae-4eb8-8f50-024dd207f46d","name":"Recupera todos os clientes"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Recupera todos os clientes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3dd63249-7421-4ce5-baec-7f96385db49b","triggerCount":0,"shared":[{"createdAt":"2025-08-17T18:37:21.664Z","updatedAt":"2025-08-17T18:37:21.664Z","role":"workflow:owner","workflowId":"2BTt88VyEAimYHrF","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-02T12:10:45.422Z","updatedAt":"2025-10-17T19:40:57.652Z","id":"PdABWYnRiTSojfsm","name":"Conciliação - Leads v3","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,144],"id":"4f46fe78-2fee-46db-b9de-79b0ea95fcc9","name":"1.loop"},{"parameters":{"operation":"executeQuery","query":"SELECT rel.id, c.client_id, c.client_name, c.client_email, c.client_phone\nFROM ctb_clients c\nLEFT JOIN ctb_conciliation rel \n  ON c.id=rel.client_id\nWHERE 1=1\n  AND dt_plan_finish > CURDATE() \n  AND rel.lead_id IS NULL\n  AND rel.pacto IS NOT NULL\nORDER BY c.client_id","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-384,144],"id":"c4b323da-b1ec-4504-a7b8-e9a72a6b9b38","name":"missingLeads","credentials":{"mySql":{"id":"WD3QRks44qfl8xJ2","name":"Corpore App"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[624,256],"id":"cfaea896-dd4d-41d1-9fec-fc455df8b351","name":"1.wait","webhookId":"c8f9fc8a-9240-4fa2-8c88-29c201ed53bd"},{"parameters":{"method":"POST","url":"https://app.corporetraininggym.com.br/rest/?action=create_lead","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $json.client_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,208],"id":"b9fbf274-5bfc-4ab2-aca8-222015cb07e3","name":"createLead","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1814750449,"mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=1814750449"},"columns":{"mappingMode":"defineBelow","value":{"item":"={{ $('1.loop').item.json.client_id }} - {{ $('1.loop').item.json.client_name }}","erro":"=Não tem lead - {{ $('1.loop').item.json.client_email }} - {{ $('1.loop').item.json.client_phone }} - {{ $('createLead').item.json.message }}","data/hora":"={{ DateTime.local() }}"},"matchingColumns":[],"schema":[{"id":"item","displayName":"item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[368,208],"id":"27ff7a67-bdb1-48ca-92b3-feff7a4432df","name":"Error - noLead","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-608,144],"id":"55b66121-37df-460b-b3fc-da12fc3ea4a0","name":"atMidnight"}],"connections":{"1.loop":{"main":[[],[{"node":"createLead","type":"main","index":0}]]},"missingLeads":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"1.wait":{"main":[[{"node":"1.loop","type":"main","index":0}]]},"createLead":{"main":[[{"node":"Error - noLead","type":"main","index":0}]]},"Error - noLead":{"main":[[{"node":"1.wait","type":"main","index":0}]]},"atMidnight":{"main":[[{"node":"missingLeads","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:atMidnight":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef47eaa1-c8cd-4231-a1a5-e211df75651c","triggerCount":1,"shared":[{"createdAt":"2025-10-02T12:10:45.422Z","updatedAt":"2025-10-02T12:10:45.422Z","role":"workflow:owner","workflowId":"PdABWYnRiTSojfsm","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2026-05-23T18:54:04.381Z","updatedAt":"2026-05-23T18:54:58.598Z","id":"5Ojm8fzIwDF8TGzh","name":"Novo Webhook - Recebe Dados Externos","active":true,"isArchived":false,"nodes":[{"id":"node-webhook-01","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"novo-webhook","responseMode":"responseNode","options":{}},"webhookId":"novo-webhook-corpore-01"},{"id":"node-set-01","name":"Processar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,300],"parameters":{"mode":"manual","fields":{"values":[{"name":"recebido_em","value":"={{ DateTime.now().toISO() }}"},{"name":"dados","value":"={{ $json }}"},{"name":"status","value":"sucesso"}]},"options":{}}},{"id":"node-respond-01","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: \"ok\", recebido_em: $json.recebido_em, mensagem: \"Dados recebidos com sucesso\" }) }}","options":{"responseCode":200}}}],"connections":{"Webhook Trigger":{"main":[[{"node":"Processar Dados","type":"main","index":0}]]},"Processar Dados":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"205ca02d-db6e-4c9c-bbd3-869e01d82ad4","triggerCount":1,"shared":[{"createdAt":"2026-05-23T18:54:04.381Z","updatedAt":"2026-05-23T18:54:04.381Z","role":"workflow:owner","workflowId":"5Ojm8fzIwDF8TGzh","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-20T19:59:51.966Z","updatedAt":"2025-10-20T20:40:37.737Z","id":"qHCk9u92gLpCVXIF","name":"Pacto to Slack v1","active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"=Crie uma mensagem rápida para ser enviada no slack do professor do Aluno que acaba de entrar na academia, tendo em vista suas informações pessoais:\n\n{{ $json.body.cliente.toJsonString() }}\n\nRetorne apenas a mensagem que deverá ser enviada, o retorno será usado de modo direto em uma automação."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[928,288],"id":"a7410463-c217-4e30-8146-13d224573d1d","name":"createMessage","credentials":{"openAiApi":{"id":"RthcqRcxLnp9doLM","name":"OpenAi Corpore App"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09M261P8F9","mode":"list","cachedResultName":"automacoes"},"text":"={{ $json.message.content }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1280,288],"id":"70464b15-57b6-43a6-aa01-df9a84db70e2","name":"sendMessage","webhookId":"3bf4ceae-5078-46f4-a172-b6f19090fca9","credentials":{"slackOAuth2Api":{"id":"tqVFqltyc7f0TKCZ","name":"Slack Corpore Automações"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[688,288],"id":"b30dbd96-092c-4bbe-b990-79174c7e7079","name":"waitCall","alwaysOutputData":true,"onError":"continueRegularOutput"}],"connections":{"createMessage":{"main":[[{"node":"sendMessage","type":"main","index":0}]]},"waitCall":{"main":[[{"node":"createMessage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8bd4660f-9050-4dc9-942c-486f5f6719ad","triggerCount":0,"shared":[{"createdAt":"2025-10-20T19:59:51.966Z","updatedAt":"2025-10-20T19:59:51.966Z","role":"workflow:owner","workflowId":"qHCk9u92gLpCVXIF","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2026-05-23T20:28:16.687Z","updatedAt":"2026-05-23T20:28:16.687Z","id":"fNBQWtR7La4vw16D","name":"Catraca - Renovação v5 (CÓPIA - Teste)","active":false,"isArchived":false,"nodes":[{"id":"4a847026-5710-4170-90ef-58da5b3e6e46","name":"listenPacto","parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1392,2544],"typeVersion":1.1},{"id":"e6790a79-b06d-4f37-a2ef-2ca911994d34","name":"ifEntrance","parameters":{"options":{},"conditions":{"options":{"version":2,"typeValidation":"strict","leftValue":"","caseSensitive":true},"conditions":[{"operator":{"operation":"exists","singleValue":true,"type":"object"},"rightValue":"","id":"b9f459c6-03e4-4999-85d5-e22dd4b0f55b","leftValue":"={{ $json.body.acesso }}"},{"operator":{"operation":"equals","name":"filter.operator.equals","type":"string"},"rightValue":"E","id":"5e363fc2-2496-4e2e-a803-155ebd643e9e","leftValue":"={{ $json.body.acesso.sentido }}"}],"combinator":"and"}},"type":"n8n-nodes-base.if","position":[-1184,2544],"typeVersion":2.2}],"connections":{"listenPacto":{"main":[{"node":"ifEntrance","type":"main","index":0}]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"95360d91-5fde-42d8-8a30-68d6a7eb2c26","triggerCount":0,"shared":[{"createdAt":"2026-05-23T20:28:16.687Z","updatedAt":"2026-05-23T20:28:16.687Z","role":"workflow:owner","workflowId":"fNBQWtR7La4vw16D","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]},{"createdAt":"2025-10-09T15:51:56.018Z","updatedAt":"2025-10-10T20:16:21.738Z","id":"HJkOjGVm51AWWMew","name":"Pacto - WebHook SubWorkflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[-48,144],"alwaysOutputData":true},{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"listenPacto","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-304,144]},{"parameters":{"select":"user","user":{"__rl":true,"mode":"list","value":""},"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1024,304],"id":"e6b249e4-6412-4571-bdc5-8889d01df9fd","name":"Send a message","webhookId":"9c1b1a9f-5eb4-4b20-a1c2-609025af9779"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,144],"id":"170f1103-1fa3-4dff-8562-06c75f33d3a0","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[368,144],"id":"c7c571cf-7d27-44fa-adb2-14e293c89197","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ffb3698-efba-4407-8c28-b66478c64cdd","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,144],"id":"9c89e691-fc42-4b6a-bb1e-9b9274da29e9","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,48],"id":"9dec2592-ed7d-4f68-b466-42bd08c77227","name":"HTTP Request1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,48],"id":"9bc1aaeb-c381-4822-abb2-5ede50c9ab75","name":"Code"}],"connections":{"listenPacto":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]},"Replace me with your logic":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"32782c2c-8c71-4caa-8bb9-56213c58432f","triggerCount":0,"shared":[{"createdAt":"2025-10-09T15:51:56.018Z","updatedAt":"2025-10-09T15:51:56.018Z","role":"workflow:owner","workflowId":"HJkOjGVm51AWWMew","projectId":"O9Aj83Tq6Flo97PL"}],"tags":[]}],"nextCursor":null}