teste_webhook_workflow.json
{
  "id": "TfU4QZHJg7ERN5ie",
  "name": "Teste Webhook",
  "active": false,
  "description": "Recebe uma chamada via webhook (GET /teste-webhook) e retorna o JSON {\"message\": \"Webhook acionado\"}.",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "nodes": [
    {
      "id": "2bed06a4-456a-4305-a818-a90386c10821",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "teste-webhook",
        "responseMode": "responseNode"
      },
      "webhookId": "d52aa729-bac0-4bad-b6d4-559b48922d8c"
    },
    {
      "id": "07d4a834-616d-47c1-a09b-23f4d68a1878",
      "name": "Processar com JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      message: 'Webhook acionado',\n      timestamp: new Date().toISOString(),\n      query: item.json.query ?? {},\n      headers: item.json.headers ?? {}\n    }\n  };\n});"
      }
    },
    {
      "id": "8f95620c-f02e-4cc1-be19-9e5a5edd1aa2",
      "name": "Responder JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [840, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Processar com JavaScript", "type": "main", "index": 0 }]]
    },
    "Processar com JavaScript": {
      "main": [[{ "node": "Responder JSON", "type": "main", "index": 0 }]]
    }
  }
}
