workflow_copy.json
{
  "name": "Catraca - Renovação v5 (CÓPIA - Teste)",
  "nodes": [
    {"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q","mode":"id"},"sheetName":{"__rl":true,"value":199654387,"mode":"list","cachedResultName":"Renovação v2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11P-AUAmU79RI0_jTBSGYY5GeI2FAXeWOVoaBsBYGR1Q/edit#gid=199654387"},"columns":{"mappingMode":"defineBelow","value":{"data/hora":"={{ DateTime.local() }}","destinatário":"={{ $json.phone + \" - \" + $('findConsultant').item.json.consultant_name }}","mensagem":"={{ $('buildMessages').item.json.mensagens.consultor || $('buildPrompt').item.json.clientCard }}","aluno":"={{ $('findByMatricula').item.json.client_id + \" - \" + $('findByMatricula').item.json.client_name }}"},"matchingColumns":[],"schema":[{"id":"aluno","displayName":"aluno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"destinatário","displayName":"destinatário","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data/hora","displayName":"data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,2256],"id":"c703cb48-0ef0-4052-9595-1b2f20b79680","name":"1.logMessage","credentials":{"googleSheetsOAuth2Api":{"id":"1Qn7IvAQ2cecsyui","name":"Google Sheets Kodame"}},"onError":"continueRegularOutput"},
    {"parameters":{"jsCode":"return { status: \"Consultor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2160],"id":"915a6c68-975b-4b50-82a9-01210eed4645","name":"1.withoutPhone"},
    {"parameters":{"jsCode":"return { status: \"Coordenador sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,2592],"id":"8c4fbf15-60f4-49e1-a80d-97fd3d88ac69","name":"2.withoutPhone"},
    {"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09M261P8F9","mode":"list","cachedResultName":"automacoes"},"messageType":"block","blocksUi":"={{ $('getClientFromAPI').item.json.slack_message }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[672,3248],"id":"f3b87c16-67dc-4a42-bbaf-9149c25b7ec2","name":"sendMessage","webhookId":"3bf4ceae-5078-46f4-a172-b6f19090fca9","credentials":{"slackOAuth2Api":{"id":"tqVFqltyc7f0TKCZ","name":"Slack Corpore Automações"}}},
    {"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.consultant.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.consultant.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,1904],"id":"89ff80cf-67b4-4c9d-b679-0bd807d46733","name":"1.sendChatGuru","onError":"continueRegularOutput"},
    {"parameters":{"url":"=https://apigw.pactosolucoes.com.br/clientes/{{ $('listenPacto').item.json.body.cliente.matricula }}/dados-pessoais","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,2464],"id":"79d2380c-57bb-4e4c-8b39-5e57781ae49b","name":"getCodes & getSituacao","credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},
    {"parameters":{"url":"=https://apigw.pactosolucoes.com.br/pessoas/{{ $('getCodes & getSituacao').item.json.content.codigoPessoa }}/contratos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"empresaId","value":"1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sort","value":"vigenciaAteAjustada,desc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,2464],"id":"fe124091-735d-464c-b32f-e7ddde1f9793","name":"getContrato","alwaysOutputData":true,"credentials":{"httpBearerAuth":{"id":"zcwXiKq8UwmfL1jG","name":"Pacto Bearer"}}},
    {"parameters":{"jsCode":"const item = $input.first().json.content[0] || null;\n\nconst dataAtual = Date.now();\nconst trintaDiasEmMs = 30 * 24 * 60 * 60 * 1000;\nconst limiteMs = dataAtual + trintaDiasEmMs;\n\nconst vigenciaAteAjustada = item.vigenciaAteAjustada || item.vigenciaAte || 0;\n\nreturn {\n  alreadyRenew: vigenciaAteAjustada > limiteMs\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,2464],"id":"ea49db36-57b8-4bc2-8cad-e102e4e4a4d7","name":"checkVigencia"},
    {"parameters":{"jsCode":"return { status: \"Cliente já fez a renovação do contrato.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,2720],"id":"58aa34be-21ee-4fc1-8d4a-c376fcbdbeb3","name":"2.withoutReturn"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ab60972-012f-4a20-8a24-8d1fa0a04563","leftValue":"={{ $json.alreadyRenew }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,2464],"id":"32dd5d82-3ae5-4766-a8f5-8a3431d6f5c9","name":"withoutRenew"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a9e6cf7-ae7d-417a-a748-d6dce9a5afe5","leftValue":"={{ $json.body.acesso }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"ed498b9d-0393-49c9-b7c7-e9625329c205","leftValue":"={{ $json.body.acesso.sentido }}","rightValue":"E","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,2544],"id":"72edd045-7af9-41eb-a810-04b8072d0329","name":"ifEntrance"},
    {"parameters":{"jsCode":"return { status: \"Notificação não é do tipo Acesso de Entrada.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,2688],"id":"99a43b6a-4d34-43e6-b8d6-3ff22f44ab1a","name":"0.withoutReturn"},
    {"parameters":{"url":"=https://api.corporetraininggym.com.br/client/{{ $json.body.cliente.matricula }}/renewal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"82ea6ad1896315927a53f58ea4da6c37ad10e26d63fb29cc1ce2v4dac37z"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,2480],"id":"f0edcde7-553b-4b0d-97e2-19d075deec43","name":"getClientFromAPI","onError":"continueErrorOutput"},
    {"parameters":{"jsCode":"const message = $(\"getClientFromAPI\").first().json.error.message.replace('400 - ', '');\nconst obj = JSON.parse(JSON.parse(message));\nconst r = obj?.message || 'Erro da API';\nreturn { error: r };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,2576],"id":"a4a68059-dd2a-410f-ae65-64b58c2794fa","name":"showError"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.consultant.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2048],"id":"4763f6dd-bd0a-4f09-8d83-109ad166c74e","name":"hasConsultantPhone"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.coordinator.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2448],"id":"e2604a6d-875d-451c-828e-02e53d574c92","name":"hasCoordinatorPhone"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bef5abd-73c3-4826-8aa1-217067d52934","leftValue":"={{ $('getClientFromAPI').item.json.teacher.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2896],"id":"b4dc9fd7-b5b3-4950-98a4-8fea8a66b08a","name":"hasTeacherPhone"},
    {"parameters":{"jsCode":"return { status: \"Professor sem telefone vinculado.\" }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,3072],"id":"789deb32-36e6-4f81-9713-8e97da45dac7","name":"3.withoutPhone1"},
    {"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1392,2544],"id":"9f226467-815b-471d-8a0c-95fe1e4f2181","name":"listenPacto"},
    {"parameters":{"method":"POST","url":"https://s17.chatguru.app/api/v1","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Corpore n8n API\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"*/*\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\"\n}","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"account_id","value":"63aafcc812a217a1b86eaa19"},{"name":"key","value":"01CHRLW42RKN3KS2C8T12WPS4V39M9X36OIY63D6YBBFAPQPRJ2LDQBIVY453IT2"},{"name":"action","value":"chat_add"},{"name":"phone_id","value":"63ab03f30c017c8a1033b406"},{"name":"chat_number","value":"={{ '55' + $('getClientFromAPI').item.json.coordinator.phone }}"},{"name":"name","value":"={{ $('getClientFromAPI').item.json.coordinator.name }}"},{"name":"text","value":"={{ $('getClientFromAPI').item.json.whatsapp_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,2352],"id":"82f3c421-a032-4f45-89d5-3d50f2db0693","name":"2.sendChatGuru","onError":"continueRegularOutput"}
  ],
  "connections": {
    "getCodes & getSituacao": {"main":[[{"node":"getContrato","type":"main","index":0}]]},
    "getContrato": {"main":[[{"node":"checkVigencia","type":"main","index":0}]]},
    "checkVigencia": {"main":[[{"node":"withoutRenew","type":"main","index":0}]]},
    "withoutRenew": {"main":[[{"node":"sendMessage","type":"main","index":0},{"node":"hasConsultantPhone","type":"main","index":0},{"node":"hasCoordinatorPhone","type":"main","index":0},{"node":"hasTeacherPhone","type":"main","index":0}],[{"node":"2.withoutReturn","type":"main","index":0}]]},
    "ifEntrance": {"main":[[{"node":"getClientFromAPI","type":"main","index":0}],[{"node":"0.withoutReturn","type":"main","index":0}]]},
    "getClientFromAPI": {"main":[[{"node":"getCodes & getSituacao","type":"main","index":0}],[{"node":"showError","type":"main","index":0}]]},
    "hasConsultantPhone": {"main":[[{"node":"1.sendChatGuru","type":"main","index":0}],[{"node":"1.withoutPhone","type":"main","index":0}]]},
    "hasCoordinatorPhone": {"main":[[{"node":"2.sendChatGuru","type":"main","index":0}],[{"node":"2.withoutPhone","type":"main","index":0}]]},
    "hasTeacherPhone": {"main":[[],[{"node":"3.withoutPhone1","type":"main","index":0}]]},
    "listenPacto": {"main":[[{"node":"ifEntrance","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"},
  "meta": {"templateCredsSetupCompleted":true}
}
